<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorLikeComposite</key>
	<string>animatedcontainerPatternVisible</string>
	<key>awaitWithTask</key>
	<string>mediumAnimationStatus</string>
	<key>binaryNearLayer</key>
	<string>dynamicModalSpeed</string>
	<key>builderAlongParameter</key>
	<string>shaderOrStrategy</string>
	<key>containerAdapterCount</key>
	<string>activeCursorOpacity</string>
	<key>diffableBorderVisible</key>
	<string>pointBesideStage</string>
	<key>getxOrMode</key>
	<string>accordionTransitionPosition</string>
	<key>hierarchicalPopupBehavior</key>
	<string>transitionBridgeAppearance</string>
	<key>interfaceTypeMode</key>
	<string>memberThanCommand</string>
	<key>opaqueBulletSkewx</key>
	<string>workflowVersusKind</string>
</dict>
</plist>
