<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderParameterName</key>
	<string>switchNearShape</string>
	<key>cartesianActionOpacity</key>
	<string>compositionalTweenAcceleration</string>
	<key>completionDespiteVariable</key>
	<string>indicatorVarOpacity</string>
	<key>dependencyPhaseEdge</key>
	<string>coordinatorInterpreterShade</string>
	<key>enabledGridviewDelay</key>
	<string>featureAsSingleton</string>
	<key>heapDespiteValue</key>
	<string>pageviewModeFormat</string>
	<key>roleEnvironmentBound</key>
	<string>compositionalCoordinatorPadding</string>
	<key>sampleTempleIndex</key>
	<string>zoneMethodTension</string>
	<key>techniqueActionOpacity</key>
	<string>unsortedDimensionSkewx</string>
	<key>usedMissionRotation</key>
	<string>lazyContainerOrientation</string>
</dict>
</plist>
