<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectThroughState</key>
	<string>viewAlongVisitor</string>
	<key>getxProcessTint</key>
	<string>mediocreStepColor</string>
	<key>mainLabelMode</key>
	<string>mainEffectState</string>
	<key>titleInsideVariable</key>
	<string>mobileHandlerEdge</string>
	<key>unaryBesideEnvironment</key>
	<string>frameValueBehavior</string>
</dict>
</plist>
