<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushParameterFeedback</key>
	<string>difficultNodeOpacity</string>
	<key>greatIconSkewy</key>
	<string>delegateAmongJob</string>
	<key>immediateGrainSkewy</key>
	<string>semanticsMementoLocation</string>
	<key>lostLogarithmBehavior</key>
	<string>originalMultiplicationEdge</string>
	<key>popupAboutLayer</key>
	<string>gesturedetectorTypeBottom</string>
	<key>queryShapeHead</key>
	<string>nibScopeShape</string>
	<key>sinkPhaseKind</key>
	<string>singletonFlyweightBehavior</string>
</dict>
</plist>
