<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetWorkState</key>
	<string>routeTypeVisibility</string>
	<key>diversifiedSliderDensity</key>
	<string>declarativeCosineKind</string>
	<key>nextGridviewDepth</key>
	<string>semanticMethodPressure</string>
	<key>normalSpotSize</key>
	<string>cupertinoRoleBrightness</string>
	<key>sinkViaFramework</key>
	<string>staticDependencyState</string>
	<key>specifierBesideStage</key>
	<string>rapidDurationTheme</string>
</dict>
</plist>
