<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentResultBehavior</key>
	<string>accordionTimerForce</string>
	<key>deferredProjectionPressure</key>
	<string>bulletAgainstMediator</string>
	<key>entityAwayFacade</key>
	<string>ignoredCompositionDistance</string>
	<key>granularSkinBottom</key>
	<string>keyGemKind</string>
	<key>modalVariableSize</key>
	<string>methodPlatformTag</string>
	<key>nativeInjectionSpacing</key>
	<string>animationStateBorder</string>
	<key>navigationWithMemento</key>
	<string>futureStructureTag</string>
</dict>
</plist>
