<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityActivityCoord</key>
	<string>reducerAlongFacade</string>
	<key>fixedChartSaturation</key>
	<string>enabledTransformerDensity</string>
	<key>heapScopeFrequency</key>
	<string>crudeUtilRight</string>
	<key>masterWithoutMemento</key>
	<string>resilientProgressbarRight</string>
	<key>topicSingletonDepth</key>
	<string>serviceAsMode</string>
</dict>
</plist>
