<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerSlashInteraction</key>
	<string>playbackCompositeIndex</string>
	<key>dedicatedIntensityMomentum</key>
	<string>isolateActionBrightness</string>
	<key>elasticPopupFrequency</key>
	<string>consumerPhaseTheme</string>
	<key>functionalCardAcceleration</key>
	<string>responseInTemple</string>
	<key>handlerWithoutTask</key>
	<string>inheritedDurationPosition</string>
	<key>imagePlatformStatus</key>
	<string>asynchronousLossDepth</string>
	<key>keySkirtShape</key>
	<string>interpolationObserverOrigin</string>
	<key>positionWithoutMemento</key>
	<string>mediaBeyondVariable</string>
	<key>semanticDurationDelay</key>
	<string>inkwellExceptFlyweight</string>
	<key>sequentialSlashTransparency</key>
	<string>rowValueVisibility</string>
</dict>
</plist>
