<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderVersusShape</key>
	<string>alignmentLikeProxy</string>
	<key>columnBridgeOpacity</key>
	<string>cosinePerDecorator</string>
	<key>crudeActivityDirection</key>
	<string>notificationWithoutForm</string>
	<key>cubeProcessSkewx</key>
	<string>smartSpriteTheme</string>
	<key>factoryProxyFrequency</key>
	<string>reusableStorageSkewx</string>
	<key>interactorKindHead</key>
	<string>beginnerBaselineLocation</string>
	<key>managerStateFormat</key>
	<string>controllerTypeSkewx</string>
	<key>modulusObserverLeft</key>
	<string>unactivatedIsolateValidation</string>
	<key>requestInType</key>
	<string>providerBesideMediator</string>
	<key>requestWorkBehavior</key>
	<string>configurationAwayOperation</string>
</dict>
</plist>
