<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderMementoOffset</key>
	<string>largePetPadding</string>
	<key>elasticNavigatorOpacity</key>
	<string>equalizationCycleSkewx</string>
	<key>observerLevelFeedback</key>
	<string>prismaticTimerTransparency</string>
	<key>popupSinceVariable</key>
	<string>diversifiedStateBottom</string>
	<key>protocolNearLevel</key>
	<string>primaryChapterFrequency</string>
</dict>
</plist>
