<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashThanValue</key>
	<string>expandedStrategyRate</string>
	<key>interpolationPhaseCenter</key>
	<string>bitrateLikeFlyweight</string>
	<key>movementActionDensity</key>
	<string>completerAtFunction</string>
	<key>serviceOfVisitor</key>
	<string>gridActionValidation</string>
	<key>storageBeyondMediator</key>
	<string>graphicVersusMediator</string>
</dict>
</plist>
