<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionProxyAppearance</key>
	<string>loopNumberOpacity</string>
	<key>gestureCompositeSpeed</key>
	<string>marginSystemType</string>
	<key>largeObserverColor</key>
	<string>difficultIntegerHead</string>
	<key>oldTouchInterval</key>
	<string>temporaryNodeState</string>
	<key>precisionFrameworkAlignment</key>
	<string>eagerMasterInteraction</string>
	<key>spinePatternName</key>
	<string>segmentKindAcceleration</string>
	<key>standaloneTitleStyle</key>
	<string>animatedPlateColor</string>
</dict>
</plist>
