<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gridSinceDecorator</key>
	<string>marginDuringVariable</string>
	<key>labelValueResponse</key>
	<string>responseOperationTop</string>
	<key>rapidLocalizationCenter</key>
	<string>scaffoldMediatorBound</string>
	<key>topicDespiteProxy</key>
	<string>serviceMethodOrientation</string>
	<key>uniformOperationResponse</key>
	<string>discardedConstraintTheme</string>
	<key>viewVariableBorder</key>
	<string>interactorVariableDirection</string>
</dict>
</plist>
