<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDespiteSystem</key>
	<string>buttonMethodTransparency</string>
	<key>cursorViaPhase</key>
	<string>sliderChainOrigin</string>
	<key>mutableServiceTension</key>
	<string>uniformGateInteraction</string>
	<key>projectionOfForm</key>
	<string>blocCycleTension</string>
	<key>reactiveCompleterDistance</key>
	<string>persistentBufferInterval</string>
	<key>richtextViaWork</key>
	<string>symmetricCustompaintMode</string>
	<key>titleShapeKind</key>
	<string>dimensionBeyondNumber</string>
</dict>
</plist>
