<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerNumberInset</key>
	<string>firstRequestCenter</string>
	<key>displayableConvolutionSpacing</key>
	<string>concurrentTitleColor</string>
	<key>hardHashState</key>
	<string>gestureCommandBorder</string>
	<key>intuitiveOffsetHue</key>
	<string>sequentialNodeAcceleration</string>
	<key>modulusAndTask</key>
	<string>hierarchicalEffectDelay</string>
	<key>painterOrSystem</key>
	<string>batchInterpreterPressure</string>
	<key>radioAwayVariable</key>
	<string>blocPerMemento</string>
</dict>
</plist>
