<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorByVariable</key>
	<string>statelessEffectRate</string>
	<key>anchorPatternVelocity</key>
	<string>layoutFacadeOpacity</string>
	<key>baseOperationSpacing</key>
	<string>navigationTempleResponse</string>
	<key>cursorIncludeCommand</key>
	<string>variantBesideProxy</string>
	<key>indicatorDuringOperation</key>
	<string>factoryAmongLayer</string>
	<key>promiseTierEdge</key>
	<string>roleContextOpacity</string>
	<key>topicUntilWork</key>
	<string>topicLikeEnvironment</string>
	<key>unactivatedAwaitBrightness</key>
	<string>currentLabelTop</string>
</dict>
</plist>
