<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedMetadataHue</key>
	<string>descriptionUntilPattern</string>
	<key>certificateProxyBound</key>
	<string>protectedSizeDensity</string>
	<key>chapterBufferOrientation</key>
	<string>equipmentJobIndex</string>
	<key>consultativeIntensityColor</key>
	<string>kernelFacadeFeedback</string>
	<key>integerOfStrategy</key>
	<string>ternaryAwayShape</string>
	<key>layerOutsideLevel</key>
	<string>containerStrategyInterval</string>
	<key>movementAwayProxy</key>
	<string>activeConstraintFormat</string>
	<key>nextAnimationBound</key>
	<string>equipmentTierResponse</string>
	<key>scrollableInterpolationMargin</key>
	<string>dependencyVarRight</string>
	<key>storageOfForm</key>
	<string>modelFunctionKind</string>
</dict>
</plist>
