<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAwayFunction</key>
	<string>constTechniqueShade</string>
	<key>largeFlexFeedback</key>
	<string>numericalModelPressure</string>
	<key>metadataContextCoord</key>
	<string>standaloneCallbackRotation</string>
	<key>navigatorExceptActivity</key>
	<string>keyAsyncRate</string>
	<key>pointParamCoord</key>
	<string>subsequentSpriteState</string>
	<key>providerViaKind</key>
	<string>composableProfileInset</string>
	<key>streamActionInterval</key>
	<string>configurationObserverTension</string>
</dict>
</plist>
