<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAgainstVariable</key>
	<string>diffableDependencyBound</string>
	<key>constProviderColor</key>
	<string>substantialPresenterPosition</string>
	<key>consumerUntilObserver</key>
	<string>shaderAtPattern</string>
	<key>cupertinoEntityInset</key>
	<string>asyncTitleSpacing</string>
	<key>customAccessorySpacing</key>
	<string>tableEnvironmentOffset</string>
	<key>interfaceForMediator</key>
	<string>mobileThemeInterval</string>
	<key>otherSkinInset</key>
	<string>optionOrCycle</string>
	<key>semanticPlateInteraction</key>
	<string>cosineExceptSystem</string>
</dict>
</plist>
