<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instructionEnvironmentOpacity</key>
	<string>challengeThanTask</string>
	<key>marginPrototypeShade</key>
	<string>gridActivityBound</string>
	<key>timerBufferCenter</key>
	<string>normalLabelOrigin</string>
	<key>utilIncludePattern</key>
	<string>errorVersusTask</string>
</dict>
</plist>
