<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeJobDirection</key>
	<string>dialogsLikeContext</string>
	<key>durationParameterRotation</key>
	<string>heapVersusComposite</string>
	<key>greatPaddingBound</key>
	<string>canvasSingletonInteraction</string>
	<key>inheritedGetxDepth</key>
	<string>directlyRichtextOrigin</string>
	<key>monsterSinceLevel</key>
	<string>hardZoneOffset</string>
	<key>oldSkirtRate</key>
	<string>dialogsDuringParam</string>
	<key>signatureVersusActivity</key>
	<string>modelPlatformVelocity</string>
	<key>transitionOfFunction</key>
	<string>iterativeAnchorTransparency</string>
</dict>
</plist>
