<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelOrTask</key>
	<string>symbolInFlyweight</string>
	<key>constraintWithWork</key>
	<string>subtleRectTension</string>
	<key>geometricWidgetPadding</key>
	<string>characterExceptCycle</string>
	<key>nativeTitleCount</key>
	<string>repositoryFromType</string>
	<key>navigatorTempleFlags</key>
	<string>resourceAroundFunction</string>
	<key>otherFrameTop</key>
	<string>matrixWorkHue</string>
	<key>subpixelThroughTemple</key>
	<string>mediaqueryNumberFormat</string>
	<key>tabbarPhaseFlags</key>
	<string>profileForMethod</string>
	<key>vectorShapeVelocity</key>
	<string>frameAlongProxy</string>
</dict>
</plist>
