<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeExceptionMargin</key>
	<string>capacitiesVariableFeedback</string>
	<key>coordinatorExceptSingleton</key>
	<string>curvePhaseContrast</string>
	<key>featureJobTop</key>
	<string>directWorkflowContrast</string>
	<key>immutableParticleTheme</key>
	<string>semanticListenerRotation</string>
	<key>intermediateActivityStyle</key>
	<string>labelVarCount</string>
	<key>mobxAgainstInterpreter</key>
	<string>shaderDuringLayer</string>
	<key>sinkExceptMediator</key>
	<string>curveForScope</string>
	<key>storeAwayNumber</key>
	<string>painterEnvironmentResponse</string>
	<key>synchronousTickerSaturation</key>
	<string>cubeFunctionStatus</string>
	<key>textfieldKindAlignment</key>
	<string>disparateInjectionVelocity</string>
</dict>
</plist>
