<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionPrototypeRate</key>
	<string>taskContainStructure</string>
	<key>diffableTransformerDirection</key>
	<string>paddingStructureShape</string>
	<key>expandedAgainstSystem</key>
	<string>spriteContainEnvironment</string>
	<key>greatAllocatorFrequency</key>
	<string>flexiblePlaybackSkewx</string>
	<key>interactiveProgressbarType</key>
	<string>bufferForObserver</string>
	<key>managerLikeParam</key>
	<string>comprehensiveBinaryOrientation</string>
	<key>numericalAllocatorHead</key>
	<string>navigatorActionMode</string>
	<key>reducerIncludeKind</key>
	<string>resizableCosineInset</string>
	<key>sizedboxViaState</key>
	<string>touchWithoutAdapter</string>
	<key>viewOfTask</key>
	<string>resolverWithSystem</string>
</dict>
</plist>
