<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterLayerDirection</key>
	<string>menuAlongStyle</string>
	<key>clipperLikeMode</key>
	<string>advancedFeatureType</string>
	<key>euclideanProviderBorder</key>
	<string>eagerAlignmentTail</string>
	<key>sceneNearFlyweight</key>
	<string>listenerAroundActivity</string>
	<key>sinkIncludeStrategy</key>
	<string>pageviewObserverTension</string>
	<key>sophisticatedFutureFormat</key>
	<string>remainderActivityDepth</string>
	<key>viewByMediator</key>
	<string>bufferStrategySkewx</string>
</dict>
</plist>
