<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionInsideScope</key>
	<string>euclideanSizeVisible</string>
	<key>interactorSystemInterval</key>
	<string>easyProjectionBrightness</string>
	<key>isolateProxySkewy</key>
	<string>usecaseViaMemento</string>
	<key>pageviewWithoutBridge</key>
	<string>explicitTopicTension</string>
	<key>sessionInsidePhase</key>
	<string>statelessChannelIndex</string>
</dict>
</plist>
