<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardPreviewBehavior</key>
	<string>boxLikeVar</string>
	<key>blocWithoutVisitor</key>
	<string>signSinceDecorator</string>
	<key>columnIncludeMediator</key>
	<string>dropdownbuttonChainRate</string>
	<key>constraintCommandState</key>
	<string>invisibleStatelessAcceleration</string>
	<key>constraintStageResponse</key>
	<string>geometricChecklistRight</string>
	<key>denseSceneShape</key>
	<string>intermediateFrameMargin</string>
	<key>interactorOutsideParameter</key>
	<string>iterativeProviderPosition</string>
	<key>iterativeTextureDelay</key>
	<string>characterOutsideVar</string>
	<key>responseFacadeTop</key>
	<string>roleStructureDuration</string>
	<key>tangentOfMediator</key>
	<string>invisibleBatchDuration</string>
</dict>
</plist>
