<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeBufferSize</key>
	<string>routerKindVisible</string>
	<key>ignoredTweenTheme</key>
	<string>segueFlyweightInset</string>
	<key>notifierMementoBound</key>
	<string>activityVariableTail</string>
	<key>permissiveUsecaseFeedback</key>
	<string>blocThroughKind</string>
	<key>persistentModelIndex</key>
	<string>checklistShapeDistance</string>
	<key>resourceDespiteMethod</key>
	<string>futureAroundTemple</string>
</dict>
</plist>
