<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeDecorationContrast</key>
	<string>substantialDescriptionInset</string>
	<key>fixedThemeDepth</key>
	<string>workflowScopeDensity</string>
	<key>interfaceLikeMethod</key>
	<string>inactiveTweenMomentum</string>
	<key>petVarDepth</key>
	<string>loopViaStyle</string>
	<key>pinchableExceptionBottom</key>
	<string>offsetInsideBuffer</string>
	<key>prevSliderName</key>
	<string>operationDespiteMethod</string>
	<key>priorOptimizerTheme</key>
	<string>widgetChainFormat</string>
	<key>radiusAtProcess</key>
	<string>specifyTransformerLocation</string>
</dict>
</plist>
