<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerAlongCommand</key>
	<string>sceneDespiteAdapter</string>
	<key>entityStyleInset</key>
	<string>advancedCommandOrientation</string>
	<key>grainAsStrategy</key>
	<string>statelessSliderSize</string>
	<key>granularSinkBottom</key>
	<string>getxTaskValidation</string>
	<key>graphicTaskBorder</key>
	<string>equipmentEnvironmentAlignment</string>
	<key>intuitiveColumnInteraction</key>
	<string>touchWithTask</string>
	<key>mobxUntilScope</key>
	<string>lazyFeatureTop</string>
	<key>segmentSinceBuffer</key>
	<string>nodeStageLeft</string>
	<key>smallShaderTransparency</key>
	<string>utilNearNumber</string>
	<key>usageDespiteBuffer</key>
	<string>publicResolverBehavior</string>
</dict>
</plist>
