<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRouteRate</key>
	<string>tensorSceneVisible</string>
	<key>baselineSinceEnvironment</key>
	<string>concurrentCommandDepth</string>
	<key>popupParamDepth</key>
	<string>effectSystemResponse</string>
	<key>profileInProcess</key>
	<string>lostAssetColor</string>
	<key>responsePatternLeft</key>
	<string>subsequentButtonPressure</string>
	<key>sinkPatternRotation</key>
	<string>singletonSystemContrast</string>
	<key>tabviewProxyType</key>
	<string>imperativeSliderOffset</string>
	<key>textBeyondStage</key>
	<string>visibleIconPadding</string>
</dict>
</plist>
