<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeBoxshadowOrigin</key>
	<string>graphAsLayer</string>
	<key>dimensionOrMode</key>
	<string>backwardOffsetTheme</string>
	<key>dropdownbuttonScopeOrientation</key>
	<string>secondTopicHead</string>
	<key>gateJobTransparency</key>
	<string>numericalEquipmentBehavior</string>
	<key>layerTypeSkewx</key>
	<string>positionFromFunction</string>
	<key>layoutStrategyInterval</key>
	<string>cupertinoTaskRate</string>
	<key>previewAlongParameter</key>
	<string>vectorCompositeBound</string>
	<key>radioWithoutCommand</key>
	<string>interactorAtValue</string>
	<key>subscriptionLayerCoord</key>
	<string>delegateStructureDensity</string>
	<key>subtleFlexCount</key>
	<string>sustainableStackTransparency</string>
</dict>
</plist>
