<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileKernelName</key>
	<string>basicStorageKind</string>
	<key>animationProxyFeedback</key>
	<string>geometricContainerPadding</string>
	<key>equalizationAroundState</key>
	<string>controllerOutsideChain</string>
	<key>sensorBesideTemple</key>
	<string>coordinatorThroughActivity</string>
	<key>textInterpreterEdge</key>
	<string>anchorInStrategy</string>
	<key>vectorFlyweightTag</key>
	<string>cubitObserverBound</string>
</dict>
</plist>
