<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateThroughSystem</key>
	<string>routerProcessResponse</string>
	<key>capsuleOperationFlags</key>
	<string>stateValueContrast</string>
	<key>exceptionNearSingleton</key>
	<string>nodeFrameworkDuration</string>
	<key>inactiveAsyncStatus</key>
	<string>tappableExpandedBorder</string>
	<key>providerKindTint</key>
	<string>accessibleContractionInset</string>
	<key>singleMusicVisible</key>
	<string>oldMovementTag</string>
	<key>sizeByScope</key>
	<string>requiredReferenceTension</string>
	<key>sortedCallbackTheme</key>
	<string>disparateStreamSize</string>
	<key>toolParameterLocation</key>
	<string>positionAgainstInterpreter</string>
</dict>
</plist>
