<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveTransitionShape</key>
	<string>liteGateMode</string>
	<key>gridObserverMomentum</key>
	<string>captionNearProxy</string>
	<key>heapExceptFunction</key>
	<string>requestVariableValidation</string>
	<key>indicatorEnvironmentInset</key>
	<string>monsterAroundBridge</string>
	<key>iterativeHeroCenter</key>
	<string>easyDrawerContrast</string>
	<key>localizationExceptSingleton</key>
	<string>fragmentShapeContrast</string>
	<key>primaryTableTint</key>
	<string>taskContainComposite</string>
	<key>substantialFeatureOrigin</key>
	<string>stateSinceFacade</string>
</dict>
</plist>
