<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPriorityIndex</key>
	<string>custompaintFunctionMargin</string>
	<key>diversifiedSegmentInteraction</key>
	<string>transformerAgainstMethod</string>
	<key>elasticMultiplicationScale</key>
	<string>discardedPopupSpacing</string>
	<key>finalFactoryEdge</key>
	<string>localizationCycleFrequency</string>
	<key>taskEnvironmentAppearance</key>
	<string>fixedDurationSpacing</string>
</dict>
</plist>
