<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationObserverHue</key>
	<string>cartesianResultForce</string>
	<key>mobileAlignmentSkewx</key>
	<string>navigatorStageFrequency</string>
	<key>prismaticRadioFormat</key>
	<string>buttonAgainstJob</string>
	<key>vectorAndPrototype</key>
	<string>cubitTempleDistance</string>
	<key>widgetStrategyHue</key>
	<string>deferredGetxMode</string>
</dict>
</plist>
