<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasInsideFacade</key>
	<string>largeCubitStatus</string>
	<key>consumerAdapterSkewy</key>
	<string>effectVersusForm</string>
	<key>offsetSinceTier</key>
	<string>stateAsStrategy</string>
	<key>positionVersusVar</key>
	<string>zoneStrategyPosition</string>
	<key>segmentThroughMediator</key>
	<string>rowAtStructure</string>
	<key>skirtWithoutFlyweight</key>
	<string>staticDelegatePosition</string>
	<key>tappableSpineType</key>
	<string>challengeSinceJob</string>
</dict>
</plist>
