<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerContainType</key>
	<string>gradientDespiteKind</string>
	<key>customizedCosineFlags</key>
	<string>capacitiesCycleSize</string>
	<key>tweenUntilObserver</key>
	<string>popupValueType</string>
</dict>
</plist>
