<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineSinceVar</key>
	<string>futurePhaseDensity</string>
	<key>brushParamVelocity</key>
	<string>asyncAwayWork</string>
	<key>contractionVariableTail</key>
	<string>opaqueScaffoldBehavior</string>
	<key>delegateVisitorOrientation</key>
	<string>groupIncludeAction</string>
	<key>intermediateShaderTag</key>
	<string>constraintChainIndex</string>
	<key>missedAsyncLeft</key>
	<string>widgetFacadeTransparency</string>
	<key>navigationInsideObserver</key>
	<string>difficultStorageName</string>
	<key>primaryModelColor</key>
	<string>navigatorPerInterpreter</string>
	<key>rowFormIndex</key>
	<string>queryOutsideStrategy</string>
</dict>
</plist>
