<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectMementoCount</key>
	<string>graphAroundAdapter</string>
	<key>customManagerName</key>
	<string>commonGemCount</string>
	<key>disabledSensorPosition</key>
	<string>rectFrameworkStatus</string>
	<key>finalPlateDuration</key>
	<string>alertVarScale</string>
	<key>logarithmActivityVelocity</key>
	<string>layerShapeSpeed</string>
	<key>rapidGestureDirection</key>
	<string>skirtBeyondAdapter</string>
</dict>
</plist>
