<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorSinceProxy</key>
	<string>groupAboutParameter</string>
	<key>inactiveBrushFrequency</key>
	<string>otherLoopTension</string>
	<key>prevScaffoldTint</key>
	<string>numericalTransformerPressure</string>
	<key>visibleGridviewStatus</key>
	<string>tappableBuilderRotation</string>
</dict>
</plist>
