<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedQueryShape</key>
	<string>metadataOperationScale</string>
	<key>directlyMarginDirection</key>
	<string>groupFromStage</string>
	<key>listenerNearPhase</key>
	<string>toolTempleInteraction</string>
	<key>presenterThroughShape</key>
	<string>projectBesideWork</string>
	<key>repositoryActionAcceleration</key>
	<string>hardPointMode</string>
	<key>smartCapacitiesDirection</key>
	<string>graphicContainEnvironment</string>
	<key>unsortedLocalizationVelocity</key>
	<string>newestSpineDelay</string>
</dict>
</plist>
