<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAsAction</key>
	<string>tabbarVariableFlags</string>
	<key>scaleFunctionHead</key>
	<string>containerFacadeBrightness</string>
	<key>utilAgainstMode</key>
	<string>custompaintVarValidation</string>
</dict>
</plist>
