<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackFunctionDepth</key>
	<string>durationExceptTemple</string>
	<key>cubitSingletonColor</key>
	<string>newestCallbackSpacing</string>
	<key>equalizationFacadeRight</key>
	<string>uniformPromiseBrightness</string>
	<key>mobileAnchorFeedback</key>
	<string>granularProviderCenter</string>
	<key>seamlessIntensityFlags</key>
	<string>resizableCurveName</string>
	<key>subscriptionAwayNumber</key>
	<string>curveStageLocation</string>
	<key>temporaryIconTag</key>
	<string>inkwellAlongPrototype</string>
	<key>themeOrAction</key>
	<string>projectAndStrategy</string>
	<key>topicExceptFlyweight</key>
	<string>semanticExceptionDirection</string>
	<key>typicalGestureBound</key>
	<string>callbackOutsideStructure</string>
</dict>
</plist>
