<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAsParameter</key>
	<string>deferredOptionSize</string>
	<key>chartDuringStyle</key>
	<string>callbackFacadeDistance</string>
	<key>containerNearVariable</key>
	<string>listviewProcessDelay</string>
	<key>descriptionStyleInterval</key>
	<string>delegateTaskOrientation</string>
	<key>extensionOfLayer</key>
	<string>deferredCosineState</string>
	<key>firstMetadataInset</key>
	<string>dimensionAwayScope</string>
	<key>iterativeChallengeTag</key>
	<string>utilWorkSize</string>
	<key>protocolVarHead</key>
	<string>fragmentTempleBorder</string>
	<key>significantNormStyle</key>
	<string>intensityThroughValue</string>
</dict>
</plist>
