<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialNavigatorRight</key>
	<string>giftInsideEnvironment</string>
	<key>denseStepResponse</key>
	<string>frameFacadeInterval</string>
	<key>inheritedCompleterBound</key>
	<string>consumerSingletonOpacity</string>
	<key>particleAtFacade</key>
	<string>queryTaskHue</string>
</dict>
</plist>
