<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicRichtextSize</key>
	<string>gradientChainInset</string>
	<key>draggableCubeTag</key>
	<string>listviewCompositeOrientation</string>
	<key>durationInterpreterBrightness</key>
	<string>scaleWithoutStyle</string>
	<key>entityOfObserver</key>
	<string>momentumOfPrototype</string>
	<key>gridBesideObserver</key>
	<string>normWorkShade</string>
	<key>numericalLayoutCenter</key>
	<string>smallOperationSkewx</string>
	<key>rowScopeAppearance</key>
	<string>resizableLayoutColor</string>
</dict>
</plist>
