<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAboutMemento</key>
	<string>timerSinceMode</string>
	<key>animationByLevel</key>
	<string>resultBeyondBuffer</string>
	<key>contractionLikeStyle</key>
	<string>bufferBesideBridge</string>
	<key>drawerAmongObserver</key>
	<string>operationFrameworkDelay</string>
	<key>eventParamSkewy</key>
	<string>futureOrProcess</string>
	<key>interactiveStateSize</key>
	<string>spineLikeLayer</string>
	<key>popupThroughPattern</key>
	<string>beginnerDrawerResponse</string>
	<key>resultBeyondJob</key>
	<string>numericalDialogsVelocity</string>
	<key>stackDecoratorOpacity</key>
	<string>screenForWork</string>
</dict>
</plist>
