<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAgainstTemple</key>
	<string>relationalAnimationVisible</string>
	<key>chapterWithWork</key>
	<string>subscriptionAroundWork</string>
	<key>dedicatedTitleDuration</key>
	<string>enabledBehaviorTheme</string>
	<key>firstRemainderRotation</key>
	<string>immutableDropdownbuttonTheme</string>
	<key>observerOfVisitor</key>
	<string>smallAsyncSize</string>
	<key>sizeThroughPrototype</key>
	<string>queueLayerFrequency</string>
</dict>
</plist>
