<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerActivityMomentum</key>
	<string>queryStyleVisibility</string>
	<key>eventFacadeTint</key>
	<string>directlyOperationOffset</string>
	<key>featureMementoFlags</key>
	<string>zoneFormVisibility</string>
	<key>hierarchicalGateTag</key>
	<string>subsequentSlashAcceleration</string>
	<key>labelBesideBuffer</key>
	<string>nativeRadiusIndex</string>
	<key>mapThroughProxy</key>
	<string>protocolKindOrigin</string>
	<key>streamByDecorator</key>
	<string>coordinatorBesideFramework</string>
</dict>
</plist>
