<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderValueTransparency</key>
	<string>routeBridgeTag</string>
	<key>dialogsSinceCommand</key>
	<string>intensityInsideCycle</string>
	<key>discardedPreviewVisible</key>
	<string>lastHistogramMargin</string>
	<key>groupThroughAction</key>
	<string>usageObserverShade</string>
	<key>handlerStyleDuration</key>
	<string>sineLikeBridge</string>
	<key>permissiveWidgetShape</key>
	<string>effectFromComposite</string>
	<key>uniformGraphInterval</key>
	<string>opaqueIntensityInset</string>
</dict>
</plist>
