<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisStrategyShade</key>
	<string>baseValueBottom</string>
	<key>currentCacheBehavior</key>
	<string>reducerObserverDelay</string>
	<key>dedicatedStoryboardValidation</key>
	<string>arithmeticAlongMemento</string>
	<key>dimensionAmongParam</key>
	<string>injectionDecoratorOpacity</string>
	<key>mobileGraphicInterval</key>
	<string>stampLayerSaturation</string>
	<key>opaqueStreamLeft</key>
	<string>cycleSinceType</string>
	<key>positionMethodCoord</key>
	<string>spineWithCycle</string>
	<key>primaryLayerCoord</key>
	<string>hierarchicalDescriptionFormat</string>
	<key>tabbarPatternForce</key>
	<string>modelChainShape</string>
</dict>
</plist>
