<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityCycleIndex</key>
	<string>cubitLayerPadding</string>
	<key>grainSystemScale</key>
	<string>resultIncludeVariable</string>
	<key>logarithmOrProxy</key>
	<string>semanticBlocBorder</string>
	<key>otherConfigurationTransparency</key>
	<string>unsortedListviewSkewx</string>
</dict>
</plist>
