<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorPlatformState</key>
	<string>lostGridRate</string>
	<key>boxForJob</key>
	<string>statefulActivityResponse</string>
	<key>cubitContainForm</key>
	<string>criticalSampleTail</string>
	<key>lostNotifierForce</key>
	<string>subscriptionDecoratorRate</string>
	<key>referenceProcessContrast</key>
	<string>movementNearFunction</string>
	<key>sharedDependencyFrequency</key>
	<string>nextPageviewPressure</string>
	<key>transformerChainRight</key>
	<string>pivotalRichtextMargin</string>
	<key>tweenTaskInset</key>
	<string>deferredStatelessValidation</string>
	<key>zoneAtAdapter</key>
	<string>localTransformerEdge</string>
</dict>
</plist>
