<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectMethodMomentum</key>
	<string>stackFrameworkOpacity</string>
	<key>enabledGesturedetectorDelay</key>
	<string>sceneMediatorOrientation</string>
	<key>modalProxyIndex</key>
	<string>explicitSliderRight</string>
	<key>multiplicationEnvironmentSkewx</key>
	<string>intuitiveGrayscaleVelocity</string>
	<key>navigationContainVariable</key>
	<string>drawerForKind</string>
</dict>
</plist>
