<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralUtilColor</key>
	<string>discardedBorderRate</string>
	<key>hyperbolicIsolateFlags</key>
	<string>symmetricMethodTransparency</string>
	<key>interactiveStoryboardName</key>
	<string>cupertinoActionOffset</string>
	<key>particleInterpreterOrigin</key>
	<string>mobileByPhase</string>
	<key>pivotalRequestDuration</key>
	<string>oldMetadataFormat</string>
	<key>prevRequestDuration</key>
	<string>bulletSinceScope</string>
	<key>queryByFacade</key>
	<string>riverpodBufferBottom</string>
	<key>secondParticleMargin</key>
	<string>unsortedSpecifierShape</string>
	<key>significantAllocatorSize</key>
	<string>significantMediaqueryRight</string>
	<key>storeFromSingleton</key>
	<string>advancedCallbackSpeed</string>
</dict>
</plist>
