<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowPerTask</key>
	<string>immutableMenuDepth</string>
	<key>commonIntensityInterval</key>
	<string>arithmeticLevelTag</string>
	<key>hashVisitorSpeed</key>
	<string>controllerFacadeStatus</string>
	<key>histogramLayerPadding</key>
	<string>controllerPrototypeOrigin</string>
	<key>imperativeTableShape</key>
	<string>allocatorBridgeSize</string>
	<key>masterThanProxy</key>
	<string>graphUntilComposite</string>
	<key>observerActivityTail</key>
	<string>arithmeticValueAppearance</string>
	<key>overlayCommandRight</key>
	<string>backwardSinkDistance</string>
	<key>scaleOutsideFacade</key>
	<string>imageKindMomentum</string>
	<key>streamObserverInset</key>
	<string>cellAtForm</string>
</dict>
</plist>
