<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileNavigatorContrast</key>
	<string>arithmeticRowTint</string>
	<key>crudeStampScale</key>
	<string>buttonAroundBridge</string>
	<key>eagerTangentRight</key>
	<string>grainAwaySingleton</string>
	<key>loopMethodSize</key>
	<string>spriteVersusValue</string>
	<key>pivotalSliderTop</key>
	<string>resizableResultTheme</string>
	<key>projectAgainstValue</key>
	<string>blocExceptValue</string>
	<key>scaffoldIncludePattern</key>
	<string>titleParamScale</string>
	<key>serviceChainInterval</key>
	<string>subpixelTempleVisible</string>
	<key>streamTaskColor</key>
	<string>compositionalStatefulTint</string>
</dict>
</plist>
