<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxWithLayer</key>
	<string>precisionWithShape</string>
	<key>commonQueueSpeed</key>
	<string>tickerParameterVisible</string>
	<key>diffableCollectionIndex</key>
	<string>parallelInterpolationLeft</string>
	<key>futureOrNumber</key>
	<string>difficultCustompaintFeedback</string>
</dict>
</plist>
