<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSystemIndex</key>
	<string>matrixShapeSaturation</string>
	<key>curveFacadeBorder</key>
	<string>spotUntilActivity</string>
	<key>directWorkflowVisible</key>
	<string>controllerEnvironmentHead</string>
	<key>grayscaleFromForm</key>
	<string>observerMediatorSpeed</string>
	<key>navigationNearFramework</key>
	<string>sceneFunctionInterval</string>
	<key>nodeOrInterpreter</key>
	<string>movementTypeState</string>
	<key>subtlePositionedHue</key>
	<string>primaryZoneVisibility</string>
	<key>taskBufferIndex</key>
	<string>methodEnvironmentFrequency</string>
	<key>utilLikeAction</key>
	<string>routerIncludeProcess</string>
</dict>
</plist>
