<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionMethodBorder</key>
	<string>tappableDescriptorFlags</string>
	<key>cursorThanFramework</key>
	<string>globalTimerState</string>
	<key>plateSingletonHead</key>
	<string>cardKindInset</string>
	<key>smartResolverHue</key>
	<string>alertParameterOpacity</string>
	<key>unaryPerKind</key>
	<string>routerAndCycle</string>
	<key>widgetAtBuffer</key>
	<string>reactiveRoleIndex</string>
</dict>
</plist>
