<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedIsolateMomentum</key>
	<string>rectPrototypeOpacity</string>
	<key>awaitForProcess</key>
	<string>observerTierInteraction</string>
	<key>criticalAccessoryPressure</key>
	<string>managerLayerDistance</string>
	<key>disparateServiceStyle</key>
	<string>keyLogDirection</string>
	<key>relationalExtensionAppearance</key>
	<string>labelShapeCount</string>
	<key>tappableVectorFlags</key>
	<string>gateProcessDistance</string>
</dict>
</plist>
