<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticParameterBorder</key>
	<string>responsiveTabbarColor</string>
	<key>assetObserverHue</key>
	<string>effectMethodContrast</string>
	<key>listenerValueVelocity</key>
	<string>smartStreamAppearance</string>
	<key>listviewExceptComposite</key>
	<string>smartCertificateBrightness</string>
	<key>localizationVersusFunction</key>
	<string>listenerPerAction</string>
	<key>masterPrototypeRate</key>
	<string>buttonBufferDensity</string>
	<key>profileAtStage</key>
	<string>optimizerAgainstLevel</string>
	<key>temporaryDurationBound</key>
	<string>desktopDimensionVisibility</string>
	<key>textureParameterTheme</key>
	<string>navigatorInsidePattern</string>
	<key>tickerCycleLeft</key>
	<string>titleCompositeRotation</string>
</dict>
</plist>
