<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryBufferInset</key>
	<string>configurationAwayKind</string>
	<key>capacitiesNearTier</key>
	<string>operationPerVar</string>
	<key>eventPrototypeBound</key>
	<string>spriteAsBridge</string>
	<key>missionMediatorLeft</key>
	<string>usedDecorationSpacing</string>
	<key>monsterAroundStrategy</key>
	<string>challengePhaseTheme</string>
	<key>navigatorAlongMemento</key>
	<string>commonIntensityIndex</string>
	<key>permanentRadiusOrigin</key>
	<string>signAsParameter</string>
	<key>rapidDescriptionSkewx</key>
	<string>hierarchicalRepositoryFormat</string>
	<key>sceneAtWork</key>
	<string>persistentSymbolHead</string>
</dict>
</plist>
