<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>otherBaselineCoord</key>
	<string>buttonAndComposite</string>
	<key>pointOutsideJob</key>
	<string>decorationMediatorVisible</string>
	<key>resilientTextureInteraction</key>
	<string>borderFacadeRate</string>
	<key>shaderVisitorShape</key>
	<string>tensorGroupVelocity</string>
</dict>
</plist>
