<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layerInterpreterBehavior</key>
	<string>gestureParamState</string>
	<key>positionedNearStructure</key>
	<string>pivotalMissionRight</string>
	<key>storeContextTail</key>
	<string>navigatorIncludeJob</string>
	<key>symbolDespiteJob</key>
	<string>disabledConfigurationCenter</string>
</dict>
</plist>
