<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDimensionKind</key>
	<string>constraintOfTemple</string>
	<key>featureByFunction</key>
	<string>histogramByParam</string>
	<key>hashMementoMargin</key>
	<string>displayableTopicOffset</string>
	<key>independentAspectShape</key>
	<string>pivotalTweenPosition</string>
	<key>intensityFunctionOpacity</key>
	<string>prevReductionDistance</string>
	<key>intermediateLabelOffset</key>
	<string>euclideanRowLocation</string>
	<key>resultTypeRight</key>
	<string>bulletStateMode</string>
	<key>screenVarDelay</key>
	<string>liteTransformerAcceleration</string>
	<key>sizedboxSingletonHead</key>
	<string>plateActionTop</string>
</dict>
</plist>
