<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryInVisitor</key>
	<string>tappableOffsetOpacity</string>
	<key>appbarContainComposite</key>
	<string>sustainableSubpixelCount</string>
	<key>batchLevelIndex</key>
	<string>anchorAndPlatform</string>
	<key>draggableFutureSaturation</key>
	<string>callbackCommandBorder</string>
	<key>finalThreadDensity</key>
	<string>shaderAwayScope</string>
	<key>reactiveFutureOrigin</key>
	<string>monsterInsideProcess</string>
	<key>reducerStateTension</key>
	<string>kernelFunctionOrientation</string>
	<key>temporaryAwaitBottom</key>
	<string>heapBridgeRotation</string>
</dict>
</plist>
