<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeStoryboardBound</key>
	<string>cartesianSizeMomentum</string>
	<key>chapterExceptMethod</key>
	<string>tabbarBySystem</string>
	<key>lossNumberTension</key>
	<string>layoutModeSkewy</string>
	<key>modelKindResponse</key>
	<string>fragmentDecoratorMomentum</string>
	<key>requiredPromiseCount</key>
	<string>statefulCompleterStyle</string>
	<key>rowWithMode</key>
	<string>singleTabviewHue</string>
	<key>singleLayerVisible</key>
	<string>cupertinoTweenMargin</string>
	<key>specifierKindContrast</key>
	<string>asyncTypeShade</string>
	<key>tweenLayerDensity</key>
	<string>criticalOverlayScale</string>
	<key>zoneVariableEdge</key>
	<string>observerFlyweightMargin</string>
</dict>
</plist>
