<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionNearObserver</key>
	<string>marginAlongProxy</string>
	<key>effectVarDistance</key>
	<string>anchorUntilMemento</string>
	<key>factoryExceptMode</key>
	<string>immutableEntropyTag</string>
	<key>flexibleIconSaturation</key>
	<string>sceneDecoratorOrigin</string>
	<key>precisionBridgeOffset</key>
	<string>titleByVar</string>
	<key>rapidAllocatorOpacity</key>
	<string>assetModePosition</string>
	<key>riverpodByParameter</key>
	<string>axisStrategySpacing</string>
</dict>
</plist>
