<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOutsideParam</key>
	<string>clipperTempleValidation</string>
	<key>decorationTempleDistance</key>
	<string>streamUntilStructure</string>
	<key>instructionInsideContext</key>
	<string>zonePerFlyweight</string>
	<key>interactiveAwaitInteraction</key>
	<string>textureLikeCommand</string>
	<key>resizableInterfaceLocation</key>
	<string>ignoredMediaVisibility</string>
</dict>
</plist>
