<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalZoneDirection</key>
	<string>queueActionStatus</string>
	<key>iterativeRoutePadding</key>
	<string>localChallengeValidation</string>
	<key>momentumUntilLayer</key>
	<string>capsuleNearScope</string>
	<key>requiredAppbarAppearance</key>
	<string>singletonContainDecorator</string>
</dict>
</plist>
