<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAmongScope</key>
	<string>subpixelProcessRotation</string>
	<key>constraintPhaseSpeed</key>
	<string>displayableCubitDirection</string>
	<key>groupNearForm</key>
	<string>certificateValueShape</string>
	<key>nativeGraphTheme</key>
	<string>globalProviderSize</string>
	<key>referenceWithAction</key>
	<string>navigationPatternScale</string>
</dict>
</plist>
