<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAboutFacade</key>
	<string>boxshadowFlyweightKind</string>
	<key>coordinatorProcessDensity</key>
	<string>statelessBaselineForce</string>
	<key>gradientFrameworkVisibility</key>
	<string>callbackTypeLeft</string>
	<key>inkwellKindLeft</key>
	<string>buttonOfKind</string>
	<key>layoutPlatformFrequency</key>
	<string>groupTempleInterval</string>
	<key>pageviewIncludeStructure</key>
	<string>dropdownbuttonScopeLocation</string>
	<key>viewSinceVar</key>
	<string>elasticQueueAppearance</string>
</dict>
</plist>
