<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushActivityTransparency</key>
	<string>similarDelegateContrast</string>
	<key>customizedDocumentVisibility</key>
	<string>aspectShapeCount</string>
	<key>significantGradientSpeed</key>
	<string>labelActivityHue</string>
	<key>spriteViaValue</key>
	<string>timerDespiteContext</string>
	<key>textfieldDecoratorRate</key>
	<string>subpixelThroughDecorator</string>
	<key>tweenOrNumber</key>
	<string>subpixelFlyweightVisible</string>
</dict>
</plist>
