<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterBridgeTheme</key>
	<string>tappableNavigatorColor</string>
	<key>collectionWithPrototype</key>
	<string>containerStrategyVisibility</string>
	<key>criticalImageVisible</key>
	<string>descriptorVisitorTag</string>
	<key>gesturedetectorViaBridge</key>
	<string>resilientCardTop</string>
	<key>mediocreResolverInset</key>
	<string>signFromPhase</string>
	<key>responsiveQueueMomentum</key>
	<string>interfaceBeyondBridge</string>
	<key>scrollableOverlayContrast</key>
	<string>singleRiverpodLocation</string>
	<key>switchFunctionStyle</key>
	<string>similarTitleFormat</string>
	<key>transformerIncludeAction</key>
	<string>invisibleAsyncTension</string>
</dict>
</plist>
