<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackVersusLevel</key>
	<string>streamParamDuration</string>
	<key>descriptorFacadeBrightness</key>
	<string>intuitiveTitleTension</string>
	<key>dialogsInsideJob</key>
	<string>discardedAlertDelay</string>
	<key>hierarchicalAsyncTheme</key>
	<string>sequentialHashDuration</string>
	<key>otherAwaitDuration</key>
	<string>alignmentAtSystem</string>
	<key>permissiveCanvasLocation</key>
	<string>kernelDecoratorLocation</string>
</dict>
</plist>
