<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelCommandFeedback</key>
	<string>semanticTangentVelocity</string>
	<key>drawerByStrategy</key>
	<string>rectActivityType</string>
	<key>inheritedIntensityScale</key>
	<string>concurrentNavigatorMomentum</string>
	<key>promiseVersusKind</key>
	<string>allocatorDuringProxy</string>
</dict>
</plist>
