<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFacadeShape</key>
	<string>priorityViaNumber</string>
	<key>buttonDecoratorRight</key>
	<string>graphicModePressure</string>
	<key>cacheOfWork</key>
	<string>finalOffsetRate</string>
	<key>completerBridgePosition</key>
	<string>giftViaParam</string>
	<key>exceptionStructureFormat</key>
	<string>descriptionByTemple</string>
	<key>inkwellPhaseSaturation</key>
	<string>semanticHistogramHead</string>
	<key>nibFromTemple</key>
	<string>alignmentStructureShade</string>
	<key>notifierAlongLevel</key>
	<string>listviewSinceParameter</string>
	<key>storeFrameworkEdge</key>
	<string>animatedcontainerVarBehavior</string>
	<key>switchInWork</key>
	<string>captionWithPattern</string>
</dict>
</plist>
