<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityProxyType</key>
	<string>graphAmongLayer</string>
	<key>directlyCompletionDepth</key>
	<string>cubitStateBehavior</string>
	<key>painterKindLocation</key>
	<string>sessionThanComposite</string>
	<key>secondProgressbarDuration</key>
	<string>navigatorPerVar</string>
	<key>subscriptionDecoratorDensity</key>
	<string>singleCharacterLeft</string>
	<key>substantialListenerType</key>
	<string>gridLikeMode</string>
	<key>themeContextEdge</key>
	<string>eventForEnvironment</string>
</dict>
</plist>
