<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentTierRight</key>
	<string>elasticGraphicMargin</string>
	<key>boxshadowOrPattern</key>
	<string>clipperAlongState</string>
	<key>builderBridgeRotation</key>
	<string>groupOrShape</string>
	<key>priorityOrFramework</key>
	<string>intensityObserverMode</string>
	<key>radiusFrameworkFeedback</key>
	<string>consultativeSizeOpacity</string>
	<key>smallReducerTint</key>
	<string>constTopicEdge</string>
	<key>viewSystemOffset</key>
	<string>awaitActionEdge</string>
</dict>
</plist>
