<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedExponentCenter</key>
	<string>constraintModeFormat</string>
	<key>challengeStateResponse</key>
	<string>arithmeticCapacitiesResponse</string>
	<key>declarativeMaterialSize</key>
	<string>basicSessionInterval</string>
	<key>multiplicationAdapterStyle</key>
	<string>similarQueueInterval</string>
	<key>nextDescriptionDepth</key>
	<string>seamlessMediaStyle</string>
</dict>
</plist>
