<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSkirtSkewx</key>
	<string>menuBesideLayer</string>
	<key>challengeByVar</key>
	<string>actionDecoratorBehavior</string>
	<key>featureSingletonIndex</key>
	<string>zoneVarResponse</string>
	<key>intensityForStrategy</key>
	<string>mobileAwaitLocation</string>
</dict>
</plist>
