<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorScopeFrequency</key>
	<string>menuFrameworkAlignment</string>
	<key>cycleAdapterName</key>
	<string>requestMementoDirection</string>
	<key>mainArithmeticMargin</key>
	<string>indicatorActionEdge</string>
	<key>nativeHashForce</key>
	<string>completerCycleAcceleration</string>
	<key>optionLevelFeedback</key>
	<string>pinchableQueryDensity</string>
</dict>
</plist>
