<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncSceneSpeed</key>
	<string>promiseBufferPosition</string>
	<key>captionNearMediator</key>
	<string>scrollStructureTheme</string>
	<key>currentErrorMode</key>
	<string>displayableBitrateFeedback</string>
	<key>pivotalPrecisionValidation</key>
	<string>callbackUntilParameter</string>
	<key>referenceProcessResponse</key>
	<string>localizationFacadeTension</string>
	<key>stackBeyondVisitor</key>
	<string>accordionAspectratioTint</string>
</dict>
</plist>
