<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferBufferHead</key>
	<string>semanticBufferRotation</string>
	<key>mediaCommandSize</key>
	<string>gemInOperation</string>
	<key>menuAtEnvironment</key>
	<string>workflowInsideMemento</string>
	<key>reusableCosineResponse</key>
	<string>alignmentWithState</string>
	<key>secondExtensionType</key>
	<string>boxSystemPressure</string>
</dict>
</plist>
