<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCycleTag</key>
	<string>containerParamKind</string>
	<key>entityPerFramework</key>
	<string>chartExceptProxy</string>
	<key>errorOutsidePhase</key>
	<string>alignmentNearOperation</string>
	<key>histogramThroughJob</key>
	<string>criticalMobxStatus</string>
	<key>keyOptionVisibility</key>
	<string>completerTypeDistance</string>
	<key>movementInsidePrototype</key>
	<string>threadShapeDirection</string>
	<key>stampInsideScope</key>
	<string>rectChainMargin</string>
	<key>timerCommandFeedback</key>
	<string>lazyRowDensity</string>
	<key>toolBesideStrategy</key>
	<string>gridBesideCycle</string>
</dict>
</plist>
