<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedPaddingDistance</key>
	<string>integerStateSpeed</string>
	<key>exceptionVariableRate</key>
	<string>nibCommandTransparency</string>
	<key>heroOperationDistance</key>
	<string>positionShapeLocation</string>
	<key>projectAgainstDecorator</key>
	<string>typicalInteractorHead</string>
	<key>stepKindType</key>
	<string>responsiveEquipmentCoord</string>
	<key>subsequentProviderHead</key>
	<string>heapPlatformIndex</string>
	<key>widgetBesideState</key>
	<string>coordinatorPerLayer</string>
</dict>
</plist>
