<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetJobLeft</key>
	<string>taskFromKind</string>
	<key>basicAnimationDensity</key>
	<string>previewInsideFlyweight</string>
	<key>callbackFlyweightOffset</key>
	<string>pointWithoutFunction</string>
</dict>
</plist>
