<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAdapterAcceleration</key>
	<string>spineAndOperation</string>
	<key>asyncAroundMediator</key>
	<string>unactivatedIndicatorCount</string>
	<key>clipperStyleType</key>
	<string>controllerAroundValue</string>
	<key>interpolationContainBridge</key>
	<string>accessibleDropdownbuttonSpeed</string>
	<key>nextStreamSize</key>
	<string>sensorLikeType</string>
	<key>queryLevelPadding</key>
	<string>scrollableContainerInterval</string>
</dict>
</plist>
