<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphPrototypeAlignment</key>
	<string>cartesianDependencyTag</string>
	<key>nodePrototypeColor</key>
	<string>arithmeticInterfaceOrigin</string>
	<key>progressbarModeAlignment</key>
	<string>gramWorkColor</string>
	<key>signatureWithProxy</key>
	<string>prevGradientRotation</string>
	<key>storyboardVarSkewx</key>
	<string>intuitiveCycleBottom</string>
</dict>
</plist>
