<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoTransitionTheme</key>
	<string>prevAlertAlignment</string>
	<key>dedicatedCurveContrast</key>
	<string>resizableCursorSize</string>
	<key>globalBoxshadowDistance</key>
	<string>fusedSingletonDistance</string>
	<key>hierarchicalTabviewInset</key>
	<string>optionStateBottom</string>
	<key>mediumLabelTail</key>
	<string>robustCallbackType</string>
	<key>mobileLogStyle</key>
	<string>queueSingletonDuration</string>
	<key>pointOrMediator</key>
	<string>unactivatedHashRotation</string>
	<key>usedMobileBrightness</key>
	<string>intermediateTextfieldOrigin</string>
	<key>vectorAtProxy</key>
	<string>utilWithWork</string>
	<key>vectorLevelDensity</key>
	<string>staticCallbackTension</string>
</dict>
</plist>
