<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLikeEnvironment</key>
	<string>custompaintAlongInterpreter</string>
	<key>captionContainChain</key>
	<string>flexBridgePosition</string>
	<key>convolutionUntilVisitor</key>
	<string>relationalSinkResponse</string>
	<key>directLossAppearance</key>
	<string>constraintTierBottom</string>
	<key>futureThroughFlyweight</key>
	<string>subtleSubscriptionKind</string>
	<key>heroDuringContext</key>
	<string>relationalOverlayForce</string>
</dict>
</plist>
