<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVisitorIndex</key>
	<string>graphWithoutTemple</string>
	<key>buttonWithStage</key>
	<string>presenterFunctionLocation</string>
	<key>compositionalTaskName</key>
	<string>stampMediatorVisibility</string>
	<key>documentContainMethod</key>
	<string>metadataLevelKind</string>
	<key>durationStageOrigin</key>
	<string>baselineActivityOrigin</string>
	<key>kernelDecoratorMargin</key>
	<string>exceptionStrategySaturation</string>
	<key>layerCommandResponse</key>
	<string>apertureFrameworkPosition</string>
	<key>navigatorAmongMethod</key>
	<string>synchronousRouteVelocity</string>
	<key>popupTierSaturation</key>
	<string>descriptionLikeSystem</string>
	<key>respectiveLabelKind</key>
	<string>positionFrameworkCoord</string>
</dict>
</plist>
