<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveFromAction</key>
	<string>singleGraphMargin</string>
	<key>drawerAroundProxy</key>
	<string>spotInVariable</string>
	<key>mediaqueryInCommand</key>
	<string>expandedFunctionInterval</string>
	<key>nextGemOrigin</key>
	<string>usageParamState</string>
	<key>profileTaskEdge</key>
	<string>positionedScopeDelay</string>
	<key>radiusDecoratorOrientation</key>
	<string>indicatorVisitorResponse</string>
	<key>significantCycleLeft</key>
	<string>radiusOfType</string>
	<key>singleSliderCenter</key>
	<string>cubitStateSkewx</string>
	<key>ternaryAdapterBehavior</key>
	<string>animatedDependencyPosition</string>
	<key>unaryUntilMode</key>
	<string>builderPrototypeContrast</string>
</dict>
</plist>
