<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAgainstStyle</key>
	<string>methodSincePhase</string>
	<key>discardedThemeInteraction</key>
	<string>blocThanMemento</string>
	<key>iconLevelRight</key>
	<string>resolverAndSingleton</string>
	<key>intensityFormFeedback</key>
	<string>popupWithoutVariable</string>
	<key>lossOrOperation</key>
	<string>materialMonsterSkewy</string>
	<key>metadataBesideProcess</key>
	<string>crucialConfigurationDelay</string>
	<key>mutablePresenterSpeed</key>
	<string>spritePerSingleton</string>
	<key>pinchableImageSpeed</key>
	<string>permanentResponseFlags</string>
	<key>positionMediatorDistance</key>
	<string>gestureAmongParameter</string>
	<key>ternaryOperationStatus</key>
	<string>aspectratioAroundInterpreter</string>
</dict>
</plist>
