<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constDurationState</key>
	<string>managerShapeMomentum</string>
	<key>dedicatedBufferContrast</key>
	<string>builderOutsideFunction</string>
	<key>directlyDimensionOrientation</key>
	<string>offsetJobCount</string>
	<key>durationThroughType</key>
	<string>threadAtPattern</string>
	<key>getxContainEnvironment</key>
	<string>cartesianAsyncHead</string>
	<key>spotVarLocation</key>
	<string>liteCaptionInterval</string>
	<key>workflowContainLayer</key>
	<string>viewBeyondLevel</string>
</dict>
</plist>
