<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerStyleBottom</key>
	<string>pivotalFlexPressure</string>
	<key>channelOrShape</key>
	<string>uniquePopupCoord</string>
	<key>cupertinoWorkHead</key>
	<string>singletonAwayVisitor</string>
	<key>eventEnvironmentInterval</key>
	<string>collectionPerLevel</string>
	<key>scaffoldKindVelocity</key>
	<string>tappableProviderShape</string>
	<key>substantialDescriptionAlignment</key>
	<string>statelessMethodBound</string>
	<key>tabbarPlatformHead</key>
	<string>smartArithmeticRate</string>
</dict>
</plist>
