<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnCompositeTransparency</key>
	<string>stateDespitePattern</string>
	<key>dynamicSizedboxLocation</key>
	<string>effectModeOrigin</string>
	<key>ignoredIsolateTail</key>
	<string>immediateNavigatorTint</string>
	<key>previewCompositeBottom</key>
	<string>chartSystemTag</string>
	<key>progressbarTierSpacing</key>
	<string>captionExceptForm</string>
	<key>rapidResultVisible</key>
	<string>cursorFlyweightTension</string>
	<key>singletonAwayChain</key>
	<string>channelFlyweightPressure</string>
	<key>sophisticatedImageTail</key>
	<string>routeStateHue</string>
</dict>
</plist>
