<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitDecoratorShade</key>
	<string>hierarchicalAnimatedcontainerStatus</string>
	<key>delicateControllerTag</key>
	<string>concurrentPositionTheme</string>
	<key>graphicAgainstObserver</key>
	<string>extensionWithProcess</string>
	<key>interpolationPerObserver</key>
	<string>gestureExceptValue</string>
	<key>lossUntilPattern</key>
	<string>presenterMediatorAlignment</string>
	<key>petParamBrightness</key>
	<string>timerByParameter</string>
	<key>reductionByTier</key>
	<string>navigatorDuringMode</string>
	<key>sharedCoordinatorFrequency</key>
	<string>pageviewInsideAction</string>
	<key>subpixelAroundFlyweight</key>
	<string>effectThroughProxy</string>
	<key>vectorOfAction</key>
	<string>injectionAroundTemple</string>
</dict>
</plist>
