<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lostQueryShade</key>
	<string>cacheAgainstMode</string>
	<key>normLikeBridge</key>
	<string>usecaseVisitorKind</string>
	<key>particleAsPrototype</key>
	<string>declarativeBaselineSaturation</string>
	<key>popupForParameter</key>
	<string>scrollExceptStage</string>
	<key>previewActivitySpacing</key>
	<string>gramActivityDensity</string>
	<key>queueUntilObserver</key>
	<string>callbackOrState</string>
	<key>segmentProcessBound</key>
	<string>presenterIncludeSingleton</string>
	<key>tweenViaWork</key>
	<string>listviewVersusActivity</string>
	<key>webBoxshadowIndex</key>
	<string>resizableBuilderLeft</string>
</dict>
</plist>
