<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAgainstForm</key>
	<string>handlerBufferTheme</string>
	<key>channelAmongBridge</key>
	<string>lostTweenInterval</string>
	<key>checkboxPhaseMomentum</key>
	<string>heapNearShape</string>
	<key>currentConsumerMomentum</key>
	<string>bufferDecoratorPadding</string>
	<key>menuAgainstAdapter</key>
	<string>firstHeroTail</string>
</dict>
</plist>
