<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioInterpreterAcceleration</key>
	<string>navigatorAlongDecorator</string>
	<key>characterShapeContrast</key>
	<string>singletonAmongForm</string>
	<key>ephemeralSubscriptionForce</key>
	<string>nextGridPadding</string>
	<key>frameFromEnvironment</key>
	<string>graphicContextTension</string>
	<key>granularWidgetTension</key>
	<string>reusableLoopRight</string>
	<key>menuBesideStage</key>
	<string>mobileGrainTint</string>
	<key>navigatorWithCommand</key>
	<string>featureTempleTension</string>
	<key>usageFlyweightCoord</key>
	<string>storageAboutScope</string>
	<key>viewDespiteFunction</key>
	<string>iconPerMode</string>
</dict>
</plist>
