<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveExtensionDensity</key>
	<string>activeRichtextSkewx</string>
	<key>commonDescriptionBound</key>
	<string>cubitProxyForce</string>
	<key>descriptionOperationOrigin</key>
	<string>missionSinceType</string>
	<key>integerFunctionBottom</key>
	<string>dependencyCommandColor</string>
	<key>nativeCompleterPressure</key>
	<string>statefulTierType</string>
	<key>servicePerShape</key>
	<string>asyncNearMethod</string>
</dict>
</plist>
