<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryBridgeOrigin</key>
	<string>durationIncludeVar</string>
	<key>animationVarPosition</key>
	<string>segmentNearOperation</string>
	<key>basicSegmentBound</key>
	<string>drawerBeyondType</string>
	<key>fusedOperationCount</key>
	<string>radiusAmongVisitor</string>
	<key>providerViaParam</key>
	<string>missedChannelFormat</string>
	<key>resourceCompositeFeedback</key>
	<string>advancedCoordinatorFlags</string>
	<key>roleStatePadding</key>
	<string>queuePhaseIndex</string>
</dict>
</plist>
