<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveChainAcceleration</key>
	<string>descriptionKindRight</string>
	<key>fragmentEnvironmentRate</key>
	<string>captionOfFacade</string>
	<key>keyNotifierColor</key>
	<string>catalystAsMethod</string>
	<key>sizeWorkSaturation</key>
	<string>marginStyleTail</string>
	<key>staticMomentumDuration</key>
	<string>captionAdapterHead</string>
	<key>taskVersusPhase</key>
	<string>workflowActionState</string>
	<key>textfieldWithCommand</key>
	<string>resourceDuringLevel</string>
	<key>uniqueCaptionInset</key>
	<string>specifyTextFormat</string>
	<key>usedDecorationInset</key>
	<string>mobileAnimationFrequency</string>
</dict>
</plist>
