<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedTaskInset</key>
	<string>robustExponentSpeed</string>
	<key>disabledParticleVisible</key>
	<string>nativeNormDistance</string>
	<key>keySubscriptionOrientation</key>
	<string>sensorNearPrototype</string>
	<key>listenerParameterPressure</key>
	<string>dependencyLikeEnvironment</string>
	<key>statefulFactoryTail</key>
	<string>subtleTransformerFlags</string>
	<key>techniqueNearLayer</key>
	<string>storeSingletonVisibility</string>
	<key>tickerOperationColor</key>
	<string>cycleParamBottom</string>
</dict>
</plist>
