<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoApertureForce</key>
	<string>exponentLikeWork</string>
	<key>blocPrototypeForce</key>
	<string>capsuleOrInterpreter</string>
	<key>channelVarFlags</key>
	<string>unactivatedChapterDensity</string>
	<key>chartJobFormat</key>
	<string>bulletAwayPlatform</string>
	<key>dedicatedPositionLocation</key>
	<string>modalSingletonBorder</string>
	<key>gradientIncludePlatform</key>
	<string>subpixelScopeName</string>
	<key>gridInsideTask</key>
	<string>smallMovementSaturation</string>
	<key>interfaceSinceShape</key>
	<string>keyBufferLocation</string>
	<key>scrollFunctionAppearance</key>
	<string>logarithmByBuffer</string>
</dict>
</plist>
