<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureObserverVelocity</key>
	<string>backwardTouchName</string>
	<key>baseIncludeEnvironment</key>
	<string>sharedListenerSpacing</string>
	<key>checklistBesideStructure</key>
	<string>histogramIncludeSystem</string>
	<key>frameTaskBehavior</key>
	<string>previewFacadeScale</string>
	<key>resultValueRotation</key>
	<string>responseInterpreterLeft</string>
	<key>statefulFormFrequency</key>
	<string>storeVariableMode</string>
</dict>
</plist>
