<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletStylePadding</key>
	<string>curveFacadeRate</string>
	<key>dimensionInterpreterVisibility</key>
	<string>cubitWithAdapter</string>
	<key>sinkBridgeAppearance</key>
	<string>roleOrTemple</string>
	<key>synchronousMobxTint</key>
	<string>immediateRouteHue</string>
	<key>timerAsPattern</key>
	<string>resolverUntilScope</string>
</dict>
</plist>
