<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianCommandOrigin</key>
	<string>commonErrorTension</string>
	<key>coordinatorSinceTier</key>
	<string>mobileOfJob</string>
	<key>listviewNumberLocation</key>
	<string>extensionAboutParameter</string>
	<key>toolAwayState</key>
	<string>chapterAdapterVelocity</string>
	<key>unaryBridgeCoord</key>
	<string>brushEnvironmentRate</string>
</dict>
</plist>
