<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationWorkPressure</key>
	<string>queryViaVariable</string>
	<key>graphicEnvironmentDelay</key>
	<string>segueThroughOperation</string>
	<key>hierarchicalStepBorder</key>
	<string>graphBesideState</string>
	<key>injectionLayerAppearance</key>
	<string>containerTypeShade</string>
	<key>iterativeStampDelay</key>
	<string>riverpodAroundScope</string>
	<key>prismaticCubitDelay</key>
	<string>tweenFormState</string>
	<key>reactiveTouchInterval</key>
	<string>customObserverLocation</string>
	<key>swiftAroundFunction</key>
	<string>semanticAnimatedcontainerHead</string>
</dict>
</plist>
