<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaUntilVariable</key>
	<string>coordinatorContainTier</string>
	<key>ephemeralTopicOffset</key>
	<string>painterFunctionInterval</string>
	<key>greatStoreOffset</key>
	<string>materialAboutDecorator</string>
	<key>intermediateDocumentHue</key>
	<string>boxshadowNumberShape</string>
	<key>presenterBufferDirection</key>
	<string>pivotalListenerSpacing</string>
	<key>tickerInsideStage</key>
	<string>visibleQueryMargin</string>
</dict>
</plist>
