<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasWorkEdge</key>
	<string>playbackStrategyDirection</string>
	<key>compositionalPresenterSpacing</key>
	<string>apertureBeyondTier</string>
	<key>menuStageBorder</key>
	<string>blocDuringWork</string>
</dict>
</plist>
