<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateAnimationFormat</key>
	<string>remainderVariableAlignment</string>
	<key>keyFutureDirection</key>
	<string>curveAsAdapter</string>
	<key>lazyObserverStatus</key>
	<string>multiConstraintFeedback</string>
	<key>normStrategyInset</key>
	<string>getxOfBuffer</string>
	<key>primaryDelegateInterval</key>
	<string>asyncFacadeTension</string>
	<key>projectionEnvironmentDelay</key>
	<string>priorityCompositeFrequency</string>
	<key>resourceAtPhase</key>
	<string>labelWithInterpreter</string>
	<key>segueOutsideVisitor</key>
	<string>menuBeyondForm</string>
	<key>subscriptionLikeEnvironment</key>
	<string>animatedcontainerWorkType</string>
</dict>
</plist>
