<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineInFunction</key>
	<string>sustainableMultiplicationOffset</string>
	<key>gridStrategyTag</key>
	<string>difficultTableMode</string>
	<key>mediocreColumnCenter</key>
	<string>gramProcessRate</string>
	<key>radioAgainstTask</key>
	<string>vectorTierTheme</string>
	<key>stateAwayKind</key>
	<string>directlyAnimationInset</string>
	<key>symbolOrContext</key>
	<string>containerOfPattern</string>
</dict>
</plist>
