<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoIndicatorLeft</key>
	<string>prevErrorTail</string>
	<key>baselineObserverSkewx</key>
	<string>animatedDescriptionState</string>
	<key>borderBeyondStrategy</key>
	<string>comprehensiveFeatureFlags</string>
	<key>layerShapeMomentum</key>
	<string>optimizerLikeInterpreter</string>
	<key>movementPhaseAlignment</key>
	<string>entityByObserver</string>
	<key>playbackUntilVariable</key>
	<string>mediocreMomentumCoord</string>
	<key>webIndicatorInset</key>
	<string>coordinatorBesideActivity</string>
</dict>
</plist>
