<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>materialVariableBottom</key>
	<string>nodeBeyondObserver</string>
	<key>optionParameterAcceleration</key>
	<string>cartesianExceptionDuration</string>
	<key>queueCompositeSpeed</key>
	<string>progressbarOfFlyweight</string>
	<key>singletonInterpreterFlags</key>
	<string>autoNavigatorMode</string>
</dict>
</plist>
