<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncCompletionBorder</key>
	<string>effectMediatorScale</string>
	<key>commandValuePosition</key>
	<string>lastStackBehavior</string>
	<key>deferredAlignmentRight</key>
	<string>allocatorPhaseHead</string>
	<key>newestRequestRotation</key>
	<string>interpolationLikeEnvironment</string>
	<key>presenterMethodShape</key>
	<string>descriptionContextPressure</string>
</dict>
</plist>
