<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerThroughTier</key>
	<string>asyncSessionRight</string>
	<key>priorityLevelAppearance</key>
	<string>semanticDelegateForce</string>
	<key>resourceIncludeStructure</key>
	<string>routeChainMargin</string>
	<key>specifierInCycle</key>
	<string>delicateSpecifierStyle</string>
</dict>
</plist>
