<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAtActivity</key>
	<string>gridInterpreterTheme</string>
	<key>consumerAndTemple</key>
	<string>controllerMementoIndex</string>
	<key>factoryFormOpacity</key>
	<string>storeBeyondStyle</string>
	<key>priorScreenDepth</key>
	<string>missedResolverOffset</string>
	<key>scaffoldCycleDepth</key>
	<string>staticPainterEdge</string>
	<key>similarNotificationKind</key>
	<string>groupProcessVisible</string>
	<key>stackAsCommand</key>
	<string>ignoredVectorDistance</string>
	<key>visibleDurationDirection</key>
	<string>activatedDescriptorDistance</string>
</dict>
</plist>
