<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventStrategyColor</key>
	<string>buttonExceptWork</string>
	<key>interactorAlongActivity</key>
	<string>blocBeyondStage</string>
	<key>opaqueCapacitiesFeedback</key>
	<string>textureExceptShape</string>
	<key>streamInterpreterShape</key>
	<string>resourceByMemento</string>
	<key>tangentFunctionTransparency</key>
	<string>gesturedetectorVersusKind</string>
</dict>
</plist>
