<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesNumberDelay</key>
	<string>indicatorBufferPadding</string>
	<key>comprehensivePetSize</key>
	<string>animatedFlexSkewx</string>
	<key>constraintAdapterSkewy</key>
	<string>hierarchicalKernelDensity</string>
	<key>cubitJobVisibility</key>
	<string>sizedboxPhaseFeedback</string>
	<key>gemUntilKind</key>
	<string>configurationCompositeResponse</string>
</dict>
</plist>
