<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicRepositoryTheme</key>
	<string>routeVersusFlyweight</string>
	<key>graphFromParam</key>
	<string>storyboardWorkDelay</string>
	<key>grayscaleAtJob</key>
	<string>containerCommandTheme</string>
	<key>layerAsFunction</key>
	<string>handlerOperationShape</string>
	<key>symbolTempleFeedback</key>
	<string>newestPageviewRotation</string>
</dict>
</plist>
