<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveMatrixShade</key>
	<string>greatUsecaseVisible</string>
	<key>currentButtonHue</key>
	<string>permissiveMultiplicationTop</string>
	<key>rolePerComposite</key>
	<string>durationActivityRate</string>
	<key>semanticPromiseColor</key>
	<string>denseDurationOrigin</string>
</dict>
</plist>
