<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAroundPrototype</key>
	<string>usedTextSpacing</string>
	<key>bulletOfFacade</key>
	<string>techniqueEnvironmentCoord</string>
	<key>chapterOrLevel</key>
	<string>expandedDuringFramework</string>
	<key>cubitPatternTension</key>
	<string>menuOfMode</string>
	<key>eagerSemanticsCount</key>
	<string>disabledChecklistCount</string>
	<key>gridviewAndAdapter</key>
	<string>resultAndCycle</string>
	<key>heroOfPhase</key>
	<string>eagerExtensionDirection</string>
	<key>protectedConsumerMargin</key>
	<string>borderVisitorOffset</string>
</dict>
</plist>
