<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constHandlerBottom</key>
	<string>cupertinoInTask</string>
	<key>delegateAmongAction</key>
	<string>disabledButtonTop</string>
	<key>managerObserverDelay</key>
	<string>concurrentMovementDirection</string>
	<key>mediaqueryChainFormat</key>
	<string>graphicSingletonDensity</string>
	<key>normalGridBehavior</key>
	<string>missedLayoutBound</string>
	<key>resizableRadioTail</key>
	<string>intermediateCertificatePadding</string>
</dict>
</plist>
