<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeEventCenter</key>
	<string>hashAboutLayer</string>
	<key>commandModeRotation</key>
	<string>directlySliderMargin</string>
	<key>equalizationInsideComposite</key>
	<string>repositoryByParam</string>
	<key>injectionAmongTier</key>
	<string>sizeVersusBuffer</string>
	<key>inkwellModeTension</key>
	<string>promiseAndSingleton</string>
	<key>localizationDespiteActivity</key>
	<string>interactorViaValue</string>
	<key>matrixVariableTension</key>
	<string>handlerSinceValue</string>
	<key>memberMediatorMomentum</key>
	<string>cursorSingletonCenter</string>
	<key>stepContainCycle</key>
	<string>curveDuringVar</string>
</dict>
</plist>
