<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticIntegerBorder</key>
	<string>declarativeLayoutFormat</string>
	<key>blocWithParameter</key>
	<string>exponentViaChain</string>
	<key>intuitiveDrawerInset</key>
	<string>gridviewStyleTail</string>
	<key>lostScaffoldMomentum</key>
	<string>remainderJobShape</string>
	<key>oldGateSpeed</key>
	<string>smallScrollVisible</string>
	<key>projectionUntilWork</key>
	<string>dropdownbuttonProcessHead</string>
	<key>queueThanLevel</key>
	<string>interactiveAsyncOrientation</string>
</dict>
</plist>
