<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanAnimationAcceleration</key>
	<string>methodLayerOrigin</string>
	<key>flexPatternState</key>
	<string>nodePhaseAppearance</string>
	<key>mapFormResponse</key>
	<string>radiusOutsideMode</string>
	<key>nextMetadataTheme</key>
	<string>providerTypeAcceleration</string>
	<key>protectedResolverSkewx</key>
	<string>hierarchicalSwitchDelay</string>
</dict>
</plist>
