<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTouchTension</key>
	<string>responsiveViewFlags</string>
	<key>behaviorStyleInteraction</key>
	<string>sinkOrOperation</string>
	<key>grainViaInterpreter</key>
	<string>directlyMobxDistance</string>
	<key>managerJobVelocity</key>
	<string>scaffoldFacadeTension</string>
	<key>modulusAndNumber</key>
	<string>cupertinoAlongPrototype</string>
	<key>priorDescriptionMomentum</key>
	<string>compositionScopeRotation</string>
	<key>protocolAdapterMargin</key>
	<string>nativeSpineStyle</string>
	<key>taskVarCoord</key>
	<string>painterByDecorator</string>
</dict>
</plist>
