<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonStageSize</key>
	<string>priorCubitDirection</string>
	<key>cellCompositeDensity</key>
	<string>customPromiseIndex</string>
	<key>commonDurationState</key>
	<string>indicatorJobShade</string>
	<key>effectFormHue</key>
	<string>enabledChannelsSize</string>
	<key>iconOutsideTask</key>
	<string>descriptorScopeForce</string>
	<key>keyMemberMode</key>
	<string>coordinatorOutsideWork</string>
	<key>labelAroundStrategy</key>
	<string>adaptiveTransformerTop</string>
</dict>
</plist>
