<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationCycleLeft</key>
	<string>frameAsVariable</string>
	<key>descriptionPhaseShade</key>
	<string>prevSpritePosition</string>
	<key>prismaticMonsterDelay</key>
	<string>storeFromNumber</string>
	<key>scenePrototypePadding</key>
	<string>tableWithoutCycle</string>
	<key>visibleLayoutFeedback</key>
	<string>subtleAxisBound</string>
</dict>
</plist>
