<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMenuCenter</key>
	<string>constraintWithoutVisitor</string>
	<key>mediumMarginName</key>
	<string>associatedEventSaturation</string>
	<key>petContextFrequency</key>
	<string>effectShapeBottom</string>
	<key>respectiveDependencyPosition</key>
	<string>callbackAtAction</string>
	<key>usecaseAndPattern</key>
	<string>publicCycleForce</string>
	<key>utilScopeTag</key>
	<string>exponentAboutLayer</string>
</dict>
</plist>
