<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureCycleRate</key>
	<string>channelAndActivity</string>
	<key>kernelContainParam</key>
	<string>cupertinoEntropyFormat</string>
	<key>lastRowCoord</key>
	<string>assetAboutStructure</string>
	<key>listenerIncludeOperation</key>
	<string>axisForLevel</string>
	<key>listviewFrameworkVisibility</key>
	<string>navigationStageCenter</string>
	<key>localPresenterMode</key>
	<string>ephemeralQueueAppearance</string>
	<key>logarithmModeHue</key>
	<string>providerContextTail</string>
	<key>painterTierTint</key>
	<string>rowFromFramework</string>
	<key>routeAgainstPhase</key>
	<string>dropdownbuttonStrategyRight</string>
	<key>storyboardFormStatus</key>
	<string>resolverDespiteMediator</string>
</dict>
</plist>
