<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelLayerSaturation</key>
	<string>beginnerObserverMomentum</string>
	<key>layoutInterpreterSpeed</key>
	<string>commandVersusMethod</string>
</dict>
</plist>
