<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>persistentSceneDuration</key>
	<string>nextSkirtLeft</string>
	<key>pivotalPointOrientation</key>
	<string>gateInType</string>
	<key>priorityOutsideFramework</key>
	<string>finalCubitOrientation</string>
	<key>tappableQueryFormat</key>
	<string>touchInsideFacade</string>
</dict>
</plist>
