<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDurationRate</key>
	<string>descriptionScopeInterval</string>
	<key>greatOffsetFormat</key>
	<string>bufferWithLayer</string>
	<key>hashAroundMethod</key>
	<string>labelAdapterShape</string>
	<key>permanentMultiplicationBorder</key>
	<string>accordionWidgetValidation</string>
	<key>permissiveStoreType</key>
	<string>factoryFromNumber</string>
	<key>utilLikeStyle</key>
	<string>resourceFacadeSpeed</string>
</dict>
</plist>
