<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAboutParam</key>
	<string>delegateUntilShape</string>
	<key>interfaceLikeComposite</key>
	<string>sophisticatedScrollSaturation</string>
	<key>layoutWithoutFlyweight</key>
	<string>grainTierSpacing</string>
	<key>resilientDependencyTag</key>
	<string>sceneActivityTransparency</string>
	<key>streamUntilParam</key>
	<string>plateWithoutFramework</string>
</dict>
</plist>
