<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorAwayPlatform</key>
	<string>seamlessContainerEdge</string>
	<key>frameCommandBehavior</key>
	<string>gradientMementoLeft</string>
	<key>getxStructureBorder</key>
	<string>apertureOfFacade</string>
	<key>particleActivityHead</key>
	<string>similarFactorySaturation</string>
</dict>
</plist>
