<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientTierAcceleration</key>
	<string>interfaceParamCoord</string>
	<key>hashExceptSingleton</key>
	<string>draggableCaptionState</string>
	<key>integerSinceParam</key>
	<string>tableExceptActivity</string>
	<key>modelFunctionHead</key>
	<string>menuAndTask</string>
	<key>resourceMementoEdge</key>
	<string>completionFrameworkSkewy</string>
	<key>visibleRiverpodOrigin</key>
	<string>usecaseAndComposite</string>
	<key>zoneBeyondProxy</key>
	<string>comprehensiveStoreDuration</string>
</dict>
</plist>
