<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionOutsideStage</key>
	<string>criticalTransitionHead</string>
	<key>cubitAsPrototype</key>
	<string>beginnerGestureType</string>
	<key>diffableNotificationAcceleration</key>
	<string>commonTechniqueCoord</string>
	<key>interactorIncludeSingleton</key>
	<string>sceneTaskScale</string>
	<key>protocolDuringStage</key>
	<string>textureTempleCoord</string>
	<key>reducerNearFramework</key>
	<string>texturePrototypeContrast</string>
	<key>stateActionHue</key>
	<string>seamlessMissionMargin</string>
	<key>sustainableGrainSpacing</key>
	<string>difficultTernaryRate</string>
</dict>
</plist>
