<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryViaPrototype</key>
	<string>spineJobDensity</string>
	<key>discardedListenerHue</key>
	<string>offsetParameterTransparency</string>
	<key>intuitiveTaskSkewy</key>
	<string>commandForTier</string>
	<key>rapidStackCount</key>
	<string>intermediateDropdownbuttonName</string>
	<key>routerInsideStructure</key>
	<string>gestureBridgeRotation</string>
</dict>
</plist>
