<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveDespiteSingleton</key>
	<string>durationCompositeDirection</string>
	<key>flexDuringLayer</key>
	<string>durationTierTint</string>
	<key>intuitiveStreamBehavior</key>
	<string>typicalTopicTail</string>
	<key>isolatePatternStatus</key>
	<string>delegateStructureDensity</string>
	<key>keySkinSkewy</key>
	<string>sophisticatedContainerContrast</string>
	<key>routerInsideAdapter</key>
	<string>streamLevelCoord</string>
	<key>synchronousAppbarTop</key>
	<string>eventSinceEnvironment</string>
	<key>textureParamTint</key>
	<string>widgetInForm</string>
	<key>zoneAsStage</key>
	<string>discardedLossCount</string>
</dict>
</plist>
