<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPerStage</key>
	<string>commonResolverCount</string>
	<key>chartWorkHead</key>
	<string>vectorContainMemento</string>
	<key>decorationIncludeVisitor</key>
	<string>diversifiedStampPosition</string>
	<key>mediaqueryLikeOperation</key>
	<string>controllerBesideFramework</string>
	<key>methodParamInterval</key>
	<string>builderOperationFrequency</string>
	<key>routeMementoMode</key>
	<string>aspectBesideParam</string>
</dict>
</plist>
