<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesDespiteBridge</key>
	<string>flexibleDescriptionRight</string>
	<key>permissiveOptionSkewy</key>
	<string>firstCubeColor</string>
	<key>progressbarSingletonShape</key>
	<string>finalParticleFrequency</string>
	<key>promiseLevelFlags</key>
	<string>completerFromObserver</string>
	<key>sharedFutureRight</key>
	<string>handlerNumberScale</string>
	<key>sizeAdapterFeedback</key>
	<string>fusedTextfieldIndex</string>
	<key>specifyConstraintIndex</key>
	<string>criticalMissionSpeed</string>
	<key>streamStrategyMargin</key>
	<string>masterLayerFormat</string>
	<key>transformerCommandInset</key>
	<string>convolutionFacadeTint</string>
	<key>utilThroughStrategy</key>
	<string>sineStateInterval</string>
</dict>
</plist>
