<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticActivityTop</key>
	<string>customizedPlateHue</string>
	<key>capsuleAwayParam</key>
	<string>slashFrameworkMode</string>
	<key>reducerWithoutMemento</key>
	<string>textureMethodFlags</string>
	<key>stepBesideStructure</key>
	<string>tensorKernelName</string>
</dict>
</plist>
