<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventShapeMargin</key>
	<string>standaloneSampleRate</string>
	<key>inheritedSpineSize</key>
	<string>managerFromNumber</string>
	<key>lostCupertinoInset</key>
	<string>commandVersusWork</string>
	<key>sceneTypeSize</key>
	<string>touchKindBorder</string>
	<key>serviceAdapterForce</key>
	<string>controllerFromJob</string>
	<key>spriteAtContext</key>
	<string>responsiveRowStyle</string>
	<key>symbolInsideVisitor</key>
	<string>segueAroundForm</string>
</dict>
</plist>
