<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitInterpreterRight</key>
	<string>layoutContainPattern</string>
	<key>eventAtStrategy</key>
	<string>symbolInterpreterPadding</string>
	<key>immediateIsolateMomentum</key>
	<string>enabledPositionedMargin</string>
	<key>litePriorityVisible</key>
	<string>interpolationSingletonBehavior</string>
	<key>materialParameterAlignment</key>
	<string>iconStageStatus</string>
	<key>menuOrCycle</key>
	<string>materialJobFeedback</string>
	<key>sinkLikeAction</key>
	<string>handlerAwayBridge</string>
</dict>
</plist>
