<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticDrawerOpacity</key>
	<string>injectionVarFlags</string>
	<key>buttonUntilTier</key>
	<string>decorationShapePosition</string>
	<key>delicateButtonRotation</key>
	<string>sizeEnvironmentRate</string>
	<key>gridAsWork</key>
	<string>positionMethodDistance</string>
	<key>inheritedToolTail</key>
	<string>tickerPhaseSpacing</string>
	<key>newestSlashDirection</key>
	<string>symbolInVisitor</string>
	<key>routerTaskHead</key>
	<string>boxshadowLayerTransparency</string>
	<key>serviceStyleName</key>
	<string>hashTaskForce</string>
	<key>stackStageFeedback</key>
	<string>blocWithFlyweight</string>
</dict>
</plist>
