<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryAndShape</key>
	<string>clipperEnvironmentTop</string>
	<key>granularChecklistVisibility</key>
	<string>localizationAndCycle</string>
	<key>injectionUntilKind</key>
	<string>compositionalProviderPosition</string>
	<key>integerBesideJob</key>
	<string>alphaAtKind</string>
	<key>labelFormPadding</key>
	<string>brushFrameworkVisible</string>
	<key>offsetVisitorMode</key>
	<string>gradientModeStatus</string>
	<key>sliderShapeOpacity</key>
	<string>materialMenuStatus</string>
	<key>symbolVersusFramework</key>
	<string>characterPhaseContrast</string>
</dict>
</plist>
