<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationInsideAdapter</key>
	<string>groupBesideAdapter</string>
	<key>futureKindKind</key>
	<string>offsetLevelSize</string>
	<key>otherAnimationTint</key>
	<string>layerLayerMomentum</string>
	<key>persistentQueueDelay</key>
	<string>tappableDescriptionIndex</string>
	<key>requestWithoutStructure</key>
	<string>entropyStageContrast</string>
</dict>
</plist>
