<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedRadioBottom</key>
	<string>decorationTempleAcceleration</string>
	<key>effectSystemFormat</key>
	<string>webBatchState</string>
	<key>elasticRectBottom</key>
	<string>desktopAwaitVisibility</string>
	<key>equalizationAmongCycle</key>
	<string>completerAroundInterpreter</string>
	<key>normalCatalystSkewx</key>
	<string>prevButtonVisible</string>
	<key>resolverSinceObserver</key>
	<string>queryAndObserver</string>
	<key>secondRowSpacing</key>
	<string>requestCycleRate</string>
	<key>similarTangentSpeed</key>
	<string>granularObserverPressure</string>
	<key>taskLikeStrategy</key>
	<string>specifyReductionDepth</string>
	<key>themeOfStructure</key>
	<string>notifierPlatformRate</string>
</dict>
</plist>
