<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerOperationDuration</key>
	<string>descriptionEnvironmentDistance</string>
	<key>descriptionAdapterAcceleration</key>
	<string>keyViewType</string>
	<key>ephemeralTernaryRate</key>
	<string>streamAndStyle</string>
	<key>explicitPointSpacing</key>
	<string>cupertinoSubpixelMargin</string>
	<key>grainTierSkewy</key>
	<string>dynamicUtilFlags</string>
	<key>significantMapVelocity</key>
	<string>draggableProjectValidation</string>
	<key>usecaseWithKind</key>
	<string>webShaderLocation</string>
</dict>
</plist>
