<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveSceneDensity</key>
	<string>granularDialogsHead</string>
	<key>entityOutsideParam</key>
	<string>menuProxyDuration</string>
	<key>gridviewByType</key>
	<string>vectorWithoutSystem</string>
	<key>modulusObserverSaturation</key>
	<string>unsortedBoxshadowCount</string>
	<key>petOperationFeedback</key>
	<string>borderStateDelay</string>
	<key>pointFunctionCount</key>
	<string>metadataOrBuffer</string>
	<key>sessionAndTask</key>
	<string>criticalLoopAcceleration</string>
	<key>subsequentPaddingShape</key>
	<string>loopInterpreterColor</string>
	<key>utilForVar</key>
	<string>allocatorExceptKind</string>
	<key>visibleGrainContrast</key>
	<string>petAboutProxy</string>
</dict>
</plist>
