<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constEventVisible</key>
	<string>bufferBesideSingleton</string>
	<key>discardedExpandedHead</key>
	<string>adaptiveRoleStatus</string>
	<key>managerKindSpeed</key>
	<string>textureOrStyle</string>
	<key>metadataThanFunction</key>
	<string>discardedViewPosition</string>
	<key>routeSystemAlignment</key>
	<string>similarCubitTint</string>
	<key>semanticIsolateInset</key>
	<string>disparateWidgetColor</string>
</dict>
</plist>
