<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaWithoutCommand</key>
	<string>positionedAsActivity</string>
	<key>musicStrategyFrequency</key>
	<string>overlayFromSingleton</string>
	<key>nodeTempleSpeed</key>
	<string>asynchronousCubeKind</string>
	<key>optimizerPhaseEdge</key>
	<string>resultWithBuffer</string>
	<key>sortedMatrixType</key>
	<string>smallPopupSaturation</string>
</dict>
</plist>
