<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintSingletonMode</key>
	<string>parallelExponentDensity</string>
	<key>cupertinoSegueDepth</key>
	<string>asyncSubscriptionShade</string>
	<key>previewAdapterDistance</key>
	<string>ignoredFutureBehavior</string>
</dict>
</plist>
