<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureStageFeedback</key>
	<string>smallPrecisionInterval</string>
	<key>brushFromAction</key>
	<string>visibleProfileShade</string>
	<key>controllerNearParameter</key>
	<string>layerPerMediator</string>
	<key>customCompletionTop</key>
	<string>mobileTemplePadding</string>
	<key>fusedAssetShape</key>
	<string>methodNearInterpreter</string>
	<key>gateThanProcess</key>
	<string>viewStyleScale</string>
	<key>granularRectTop</key>
	<string>adaptiveDescriptorCoord</string>
	<key>hashAlongProcess</key>
	<string>instructionCompositeSpeed</string>
	<key>sliderKindDuration</key>
	<string>retainedDescriptionOpacity</string>
	<key>subscriptionCycleMomentum</key>
	<string>operationOfPrototype</string>
</dict>
</plist>
