<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertTaskSize</key>
	<string>descriptionByMediator</string>
	<key>appbarAlongPhase</key>
	<string>cubitJobDirection</string>
	<key>coordinatorShapeName</key>
	<string>temporarySensorLeft</string>
	<key>dimensionContextHead</key>
	<string>paddingDuringPattern</string>
	<key>durationPlatformDepth</key>
	<string>permanentSpriteFrequency</string>
	<key>easyActivityColor</key>
	<string>taskEnvironmentBehavior</string>
	<key>layoutPrototypeDepth</key>
	<string>giftAwayContext</string>
	<key>matrixNearKind</key>
	<string>specifyCubitRight</string>
	<key>providerUntilJob</key>
	<string>memberPrototypeFeedback</string>
</dict>
</plist>
