<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerUntilChain</key>
	<string>listviewObserverTail</string>
	<key>commandModeHead</key>
	<string>enabledWidgetStatus</string>
	<key>descriptionPerForm</key>
	<string>roleDuringDecorator</string>
	<key>difficultNotifierShade</key>
	<string>interactiveRectDirection</string>
	<key>modalAwayLevel</key>
	<string>statefulProviderState</string>
	<key>rectForStructure</key>
	<string>unsortedEntityShape</string>
	<key>rowWithMode</key>
	<string>subtleTextureOffset</string>
	<key>sharedSizeTheme</key>
	<string>labelContextShade</string>
</dict>
</plist>
