<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityThroughType</key>
	<string>skirtNumberAcceleration</string>
	<key>binaryPrototypeSpacing</key>
	<string>globalMobileVelocity</string>
	<key>interactorParamDuration</key>
	<string>animatedGetxScale</string>
	<key>nativeExceptionFormat</key>
	<string>utilPerMode</string>
	<key>parallelCaptionForce</key>
	<string>unaryBesideVar</string>
	<key>responsiveParticleSpeed</key>
	<string>sustainableToolMode</string>
	<key>scaleModePressure</key>
	<string>resolverAlongAction</string>
	<key>sinkParameterContrast</key>
	<string>granularSegueRate</string>
	<key>tweenContainMethod</key>
	<string>flexibleSegmentPadding</string>
</dict>
</plist>
