<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>newestResultDepth</key>
	<string>constraintKindDepth</string>
	<key>permissiveModulusCount</key>
	<string>methodStageInset</string>
	<key>spotAndStrategy</key>
	<string>layoutUntilType</string>
	<key>unactivatedTaskTint</key>
	<string>textureVarRate</string>
</dict>
</plist>
