<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionValueStatus</key>
	<string>transitionByMemento</string>
	<key>localMetadataScale</key>
	<string>hashBeyondStructure</string>
	<key>logarithmThroughEnvironment</key>
	<string>normPatternCenter</string>
	<key>memberBesideAdapter</key>
	<string>tabbarBesideCycle</string>
	<key>pointSingletonDensity</key>
	<string>animationForJob</string>
	<key>relationalStampHead</key>
	<string>sliderVersusBuffer</string>
	<key>sampleMementoCoord</key>
	<string>contractionLikeCommand</string>
	<key>significantErrorVisible</key>
	<string>sessionDuringPhase</string>
	<key>stampMementoRight</key>
	<string>parallelPointDepth</string>
</dict>
</plist>
