<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterKindAppearance</key>
	<string>brushStateTop</string>
	<key>mobileNavigatorTint</key>
	<string>subscriptionCycleAlignment</string>
	<key>pinchableIsolateFormat</key>
	<string>draggableTaskHue</string>
	<key>resourceOutsideTask</key>
	<string>completerCompositeContrast</string>
	<key>statefulChallengePosition</key>
	<string>buttonScopeMargin</string>
	<key>topicLayerLocation</key>
	<string>durationActionTransparency</string>
	<key>workflowProcessMode</key>
	<string>equalizationJobDepth</string>
</dict>
</plist>
