<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTableBrightness</key>
	<string>resourceAboutPlatform</string>
	<key>bitrateAgainstTier</key>
	<string>basicDependencySaturation</string>
	<key>boxWithoutComposite</key>
	<string>cartesianTopicColor</string>
	<key>concreteLayoutForce</key>
	<string>mediumDurationSkewy</string>
	<key>consultativeConfigurationState</key>
	<string>significantDropdownbuttonVisible</string>
	<key>inactiveLogarithmSaturation</key>
	<string>injectionAsActivity</string>
	<key>keyLocalizationPadding</key>
	<string>storeOutsideTemple</string>
	<key>lostSpotVisible</key>
	<string>extensionExceptMethod</string>
	<key>methodTaskBrightness</key>
	<string>gridAndEnvironment</string>
	<key>progressbarSinceStyle</key>
	<string>scrollValueStyle</string>
</dict>
</plist>
