<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerListviewSize</key>
	<string>multiplicationBeyondTemple</string>
	<key>compositionalEffectRotation</key>
	<string>transitionFrameworkDirection</string>
	<key>fusedTickerTransparency</key>
	<string>futureMediatorRotation</string>
	<key>largeGrayscalePressure</key>
	<string>nodeFromPlatform</string>
	<key>pivotalChartSpeed</key>
	<string>signValueOrigin</string>
	<key>previewOperationEdge</key>
	<string>gradientBeyondParameter</string>
	<key>queueShapePosition</key>
	<string>topicValueAppearance</string>
</dict>
</plist>
