<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerActivityCenter</key>
	<string>convolutionChainSkewx</string>
	<key>grainThanSingleton</key>
	<string>activeUtilScale</string>
	<key>heapSinceValue</key>
	<string>localizationAmongStyle</string>
	<key>multiBehaviorTheme</key>
	<string>referenceByLayer</string>
	<key>radiusByNumber</key>
	<string>interactiveMultiplicationOffset</string>
	<key>respectiveProtocolMargin</key>
	<string>isolateEnvironmentTop</string>
</dict>
</plist>
