<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardFactoryOpacity</key>
	<string>sizedboxThroughState</string>
	<key>composableReductionType</key>
	<string>factoryExceptWork</string>
	<key>cubitLayerShade</key>
	<string>missionLevelLocation</string>
	<key>hashContainMethod</key>
	<string>plateLevelAcceleration</string>
	<key>loopIncludeWork</key>
	<string>cubitUntilMethod</string>
	<key>reductionStageHue</key>
	<string>stackOperationDepth</string>
	<key>semanticPreviewCenter</key>
	<string>coordinatorActionOffset</string>
	<key>singleReducerTail</key>
	<string>painterContainFlyweight</string>
	<key>tickerJobKind</key>
	<string>diffableMethodSaturation</string>
</dict>
</plist>
