<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionMediatorDelay</key>
	<string>futureInsideSystem</string>
	<key>immutableGridVelocity</key>
	<string>viewJobStyle</string>
	<key>semanticsVisitorAppearance</key>
	<string>labelSingletonAlignment</string>
	<key>switchThroughStrategy</key>
	<string>projectOutsideForm</string>
	<key>themeAsBridge</key>
	<string>threadOfTask</string>
</dict>
</plist>
