<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxStageCenter</key>
	<string>pivotalWidgetSkewy</string>
	<key>concreteUtilRight</key>
	<string>sustainableCaptionInterval</string>
	<key>draggableSwiftSkewy</key>
	<string>entitySinceFlyweight</string>
	<key>respectivePresenterColor</key>
	<string>difficultDurationResponse</string>
	<key>robustConstraintScale</key>
	<string>resolverCommandCenter</string>
	<key>subscriptionParamLeft</key>
	<string>mobileLossVisible</string>
</dict>
</plist>
