<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeReducerInteraction</key>
	<string>tableActionAcceleration</string>
	<key>checklistTaskState</key>
	<string>captionVisitorMode</string>
	<key>exponentCommandKind</key>
	<string>seguePatternOffset</string>
	<key>keyQuerySpacing</key>
	<string>positionNumberTop</string>
	<key>mediumSlashStyle</key>
	<string>binaryViaLayer</string>
	<key>mobileArithmeticShape</key>
	<string>largeAssetRotation</string>
	<key>pivotalEntropyFormat</key>
	<string>drawerAwayMemento</string>
</dict>
</plist>
