<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledLoopInteraction</key>
	<string>widgetMementoFormat</string>
	<key>finalDurationFrequency</key>
	<string>respectiveOptionBottom</string>
	<key>frameBufferSize</key>
	<string>workflowFrameworkBottom</string>
	<key>histogramParamCount</key>
	<string>materialStampAppearance</string>
	<key>intensityStateMomentum</key>
	<string>gridValueCount</string>
	<key>rolePlatformBehavior</key>
	<string>consultativeConvolutionCount</string>
	<key>roleThroughMemento</key>
	<string>transitionInsideType</string>
</dict>
</plist>
