<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyInterfaceTension</key>
	<string>semanticsChainName</string>
	<key>nibAroundFunction</key>
	<string>popupCommandValidation</string>
	<key>pivotalChallengeBound</key>
	<string>sophisticatedOptionDepth</string>
	<key>providerSingletonForce</key>
	<string>eagerChecklistRotation</string>
</dict>
</plist>
