<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionSceneForce</key>
	<string>difficultMetadataRight</string>
	<key>eventAdapterEdge</key>
	<string>radiusKindTension</string>
	<key>liteStorageFormat</key>
	<string>tappableBuilderFormat</string>
	<key>materialGesturedetectorRotation</key>
	<string>stepKindAppearance</string>
	<key>playbackWithoutAction</key>
	<string>comprehensiveInterfaceSkewy</string>
	<key>shaderTierStyle</key>
	<string>allocatorContextVisible</string>
	<key>statelessStyleVisibility</key>
	<string>respectiveChannelForce</string>
</dict>
</plist>
