<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedSlashSpacing</key>
	<string>cursorCycleTheme</string>
	<key>diversifiedPlaybackRotation</key>
	<string>timerAroundNumber</string>
	<key>spriteAsActivity</key>
	<string>dimensionTempleOrientation</string>
	<key>uniqueRoleOrigin</key>
	<string>intuitiveRouteTheme</string>
	<key>variantWorkColor</key>
	<string>widgetMediatorKind</string>
</dict>
</plist>
