<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionIsolateSaturation</key>
	<string>queueLikeCommand</string>
	<key>activatedFutureTransparency</key>
	<string>substantialFragmentFormat</string>
	<key>axisLikeTier</key>
	<string>baselinePrototypeIndex</string>
	<key>navigatorUntilValue</key>
	<string>unactivatedGraphVelocity</string>
	<key>specifySegmentCount</key>
	<string>resourceInterpreterMomentum</string>
	<key>symbolFrameworkPosition</key>
	<string>providerKindRotation</string>
	<key>viewIncludeStructure</key>
	<string>alignmentParameterAcceleration</string>
</dict>
</plist>
