<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticAspectratioSaturation</key>
	<string>asyncFromPattern</string>
	<key>borderOutsideVar</key>
	<string>resultFlyweightHead</string>
	<key>compositionFunctionSpacing</key>
	<string>coordinatorForStructure</string>
	<key>interactorFromParam</key>
	<string>backwardZoneCoord</string>
	<key>modelWithoutProxy</key>
	<string>interfaceStageDensity</string>
	<key>multiplicationInsideSingleton</key>
	<string>serviceBesideJob</string>
	<key>pointValueCenter</key>
	<string>heroLayerHue</string>
	<key>requestOfType</key>
	<string>publicResultDirection</string>
	<key>sinkPrototypeStyle</key>
	<string>plateObserverTop</string>
</dict>
</plist>
