<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedProjectLeft</key>
	<string>draggableModelInset</string>
	<key>awaitPrototypeSpeed</key>
	<string>accordionConstraintBrightness</string>
	<key>bulletTempleForce</key>
	<string>liteRowInset</string>
	<key>cacheInMethod</key>
	<string>euclideanLogarithmBorder</string>
	<key>customGramInteraction</key>
	<string>gateThanParameter</string>
	<key>storageAgainstLevel</key>
	<string>streamAwayCycle</string>
</dict>
</plist>
