<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularSizedboxMargin</key>
	<string>webGrainValidation</string>
	<key>momentumAndState</key>
	<string>hierarchicalProjectionTheme</string>
	<key>optionCommandLocation</key>
	<string>priorCommandIndex</string>
	<key>publicListenerRotation</key>
	<string>methodOrParam</string>
	<key>resilientTextureDirection</key>
	<string>containerBeyondBuffer</string>
	<key>rowMementoPadding</key>
	<string>pageviewInsidePrototype</string>
	<key>touchViaForm</key>
	<string>granularGestureCoord</string>
</dict>
</plist>
