<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsCycleLocation</key>
	<string>topicVisitorInteraction</string>
	<key>dependencyVersusShape</key>
	<string>substantialCurveMargin</string>
	<key>descriptorViaStyle</key>
	<string>missedIntegerFormat</string>
	<key>modalVersusType</key>
	<string>threadAdapterBrightness</string>
	<key>navigatorLayerTheme</key>
	<string>uniqueAspectPressure</string>
	<key>overlayStateSize</key>
	<string>integerContainStage</string>
	<key>reductionSinceFacade</key>
	<string>gramOfStage</string>
	<key>singletonParamHue</key>
	<string>rectContextRotation</string>
	<key>statelessAsSingleton</key>
	<string>euclideanProviderKind</string>
</dict>
</plist>
