<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionTypeForce</key>
	<string>textureTaskSpeed</string>
	<key>bulletMethodSkewx</key>
	<string>subscriptionLikeScope</string>
	<key>cellChainInterval</key>
	<string>draggableSymbolOrientation</string>
	<key>resourceExceptScope</key>
	<string>storageContainFunction</string>
	<key>seamlessChapterTag</key>
	<string>compositionalTransitionMargin</string>
	<key>tickerAgainstTier</key>
	<string>configurationProcessOpacity</string>
	<key>viewUntilFunction</key>
	<string>observerActionInteraction</string>
</dict>
</plist>
