<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianResolverCoord</key>
	<string>pivotalShaderResponse</string>
	<key>channelVarDirection</key>
	<string>localBitrateType</string>
	<key>discardedGraphicVisibility</key>
	<string>newestHandlerStatus</string>
	<key>grainCommandSkewx</key>
	<string>agileDelegateAlignment</string>
	<key>prismaticResponseDistance</key>
	<string>tickerDespiteSystem</string>
	<key>scrollPhaseRate</key>
	<string>callbackSystemDistance</string>
	<key>subsequentFrameAcceleration</key>
	<string>stampExceptWork</string>
	<key>touchLikeVisitor</key>
	<string>declarativeChapterLeft</string>
</dict>
</plist>
