<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseFlyweightShade</key>
	<string>allocatorStrategyCount</string>
	<key>compositionalInteractorColor</key>
	<string>methodCommandCount</string>
	<key>cubePhaseBound</key>
	<string>pageviewMediatorInset</string>
	<key>hardSpotSkewy</key>
	<string>dependencyStrategySkewx</string>
	<key>inactiveAsyncSkewy</key>
	<string>routerWithoutValue</string>
	<key>pivotalDescriptionScale</key>
	<string>tabviewThanDecorator</string>
	<key>routerOutsideInterpreter</key>
	<string>viewAdapterRight</string>
	<key>unactivatedChecklistTension</key>
	<string>streamValueOrigin</string>
</dict>
</plist>
