<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonConfigurationFrequency</key>
	<string>retainedCompletionHead</string>
	<key>descriptorBridgeForce</key>
	<string>intuitivePetSpacing</string>
	<key>desktopNavigatorFormat</key>
	<string>bulletMediatorPadding</string>
	<key>errorOperationInset</key>
	<string>temporaryDescriptionFormat</string>
	<key>expandedOutsideVisitor</key>
	<string>utilValueRate</string>
	<key>sizeAtJob</key>
	<string>usecaseFrameworkShade</string>
</dict>
</plist>
