<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerTaskMomentum</key>
	<string>convolutionStageTag</string>
	<key>captionAroundJob</key>
	<string>inactiveOperationFormat</string>
	<key>durationPhaseFrequency</key>
	<string>publicNodeOffset</string>
	<key>grainJobResponse</key>
	<string>presenterInKind</string>
	<key>immediateUsecaseOffset</key>
	<string>mutableConstraintBorder</string>
	<key>materialInFramework</key>
	<string>custompaintTierBrightness</string>
	<key>paddingScopeCoord</key>
	<string>materialSingletonPosition</string>
	<key>requestMediatorIndex</key>
	<string>previewDespiteInterpreter</string>
	<key>singleObserverTail</key>
	<string>segueAroundJob</string>
	<key>visibleDurationDistance</key>
	<string>allocatorLevelColor</string>
</dict>
</plist>
