<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hierarchicalMarginRate</key>
	<string>axisShapeColor</string>
	<key>labelPatternMargin</key>
	<string>otherSliderStatus</string>
	<key>layoutScopeMode</key>
	<string>intermediateRoleColor</string>
	<key>listenerCompositeAlignment</key>
	<string>responsiveMonsterDepth</string>
	<key>missionAlongStructure</key>
	<string>priorPageviewResponse</string>
	<key>protocolDespiteEnvironment</key>
	<string>deferredCertificateSpacing</string>
	<key>responsiveResultSkewx</key>
	<string>eventOperationPressure</string>
	<key>sliderFormStyle</key>
	<string>ignoredFeatureSize</string>
	<key>synchronousResolverState</key>
	<string>errorBeyondParam</string>
</dict>
</plist>
