<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerInsideAction</key>
	<string>observerStageResponse</string>
	<key>stepAsChain</key>
	<string>factoryDecoratorInteraction</string>
	<key>streamViaPhase</key>
	<string>streamTierOrientation</string>
	<key>symmetricAspectResponse</key>
	<string>descriptionVisitorTransparency</string>
</dict>
</plist>
