<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStyleTransparency</key>
	<string>routeLikeFacade</string>
	<key>effectTaskOrigin</key>
	<string>significantTextureDuration</string>
	<key>finalPaddingCenter</key>
	<string>descriptorForSingleton</string>
	<key>fragmentByAdapter</key>
	<string>comprehensiveTangentForce</string>
	<key>invisibleSingletonColor</key>
	<string>immutableRadioShade</string>
	<key>navigationInsidePhase</key>
	<string>semanticQueueCenter</string>
	<key>progressbarMementoDirection</key>
	<string>positionedWorkDistance</string>
	<key>sampleAmongPattern</key>
	<string>compositionByVariable</string>
</dict>
</plist>
