<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWithPhase</key>
	<string>topicModeInterval</string>
	<key>fusedStoreMomentum</key>
	<string>actionUntilType</string>
	<key>gramLayerState</key>
	<string>textfieldFunctionShape</string>
	<key>logarithmFunctionName</key>
	<string>convolutionBridgeHead</string>
	<key>tappableTableLeft</key>
	<string>statelessContainerMargin</string>
</dict>
</plist>
