<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAwayTask</key>
	<string>tabbarViaParam</string>
	<key>configurationAndBuffer</key>
	<string>composableMetadataOpacity</string>
	<key>nextLocalizationBrightness</key>
	<string>uniformHandlerForce</string>
	<key>rectLikeWork</key>
	<string>coordinatorWorkMargin</string>
	<key>signatureAndStyle</key>
	<string>memberIncludeTask</string>
	<key>singletonValueSkewy</key>
	<string>equipmentFlyweightSkewy</string>
	<key>timerAboutPrototype</key>
	<string>durationViaBridge</string>
</dict>
</plist>
