<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOperationInset</key>
	<string>listenerPlatformScale</string>
	<key>baselineForLayer</key>
	<string>seamlessMetadataAcceleration</string>
	<key>entityWithStage</key>
	<string>rowViaContext</string>
	<key>labelUntilCommand</key>
	<string>constraintValueOffset</string>
	<key>profileChainTail</key>
	<string>staticCurvePressure</string>
	<key>shaderIncludeStrategy</key>
	<string>sustainableScrollContrast</string>
	<key>topicAboutProxy</key>
	<string>beginnerHashColor</string>
	<key>transformerVersusEnvironment</key>
	<string>animatedcontainerStateInteraction</string>
</dict>
</plist>
