<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeOffsetScale</key>
	<string>greatAlertStyle</string>
	<key>concreteFeatureMomentum</key>
	<string>menuViaProxy</string>
	<key>disabledTabviewOrigin</key>
	<string>stateUntilDecorator</string>
	<key>enabledRequestFormat</key>
	<string>primaryLogName</string>
	<key>factoryVariableBottom</key>
	<string>subscriptionAndValue</string>
	<key>futureIncludePhase</key>
	<string>getxThroughStyle</string>
	<key>imperativeSpineEdge</key>
	<string>hyperbolicAssetName</string>
	<key>stateValueDirection</key>
	<string>spriteStateType</string>
	<key>symmetricSwiftLeft</key>
	<string>sampleMementoMargin</string>
	<key>tensorProviderBound</key>
	<string>capacitiesDespiteLayer</string>
</dict>
</plist>
