<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFacadeOrigin</key>
	<string>tweenProxyLocation</string>
	<key>customAspectOffset</key>
	<string>accessibleSinkDistance</string>
	<key>deferredBlocCoord</key>
	<string>mobxDespiteTier</string>
	<key>featureWithAction</key>
	<string>pointVarTint</string>
</dict>
</plist>
