<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintLikeLayer</key>
	<string>indicatorContainStage</string>
	<key>layerWithoutFramework</key>
	<string>petWithoutFlyweight</string>
	<key>routeAtComposite</key>
	<string>slashDespiteFlyweight</string>
	<key>semanticBuilderForce</key>
	<string>newestPlaybackDistance</string>
	<key>temporaryBehaviorVelocity</key>
	<string>navigationWithContext</string>
</dict>
</plist>
