<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationKindDelay</key>
	<string>loopPlatformTop</string>
	<key>hyperbolicSkinMargin</key>
	<string>durationVariableFrequency</string>
	<key>mobileContextStatus</key>
	<string>priorModulusPosition</string>
	<key>offsetUntilFunction</key>
	<string>logarithmScopeTop</string>
	<key>resilientBlocScale</key>
	<string>webConstraintVelocity</string>
	<key>resultAdapterPadding</key>
	<string>materialScopeDirection</string>
	<key>smallReductionCoord</key>
	<string>animationInsideDecorator</string>
	<key>specifierThroughInterpreter</key>
	<string>baseWithoutPrototype</string>
	<key>storyboardCompositeHue</key>
	<string>chapterPerPattern</string>
</dict>
</plist>
