<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeNotifierTension</key>
	<string>controllerDuringStage</string>
	<key>directTaskName</key>
	<string>semanticPointStatus</string>
	<key>disparateContractionInset</key>
	<string>cycleWithTemple</string>
	<key>inactiveResultLocation</key>
	<string>semanticsPhaseTint</string>
	<key>intuitiveScaleVisible</key>
	<string>deferredStateSkewx</string>
	<key>mediaqueryBeyondFlyweight</key>
	<string>graphicSinceDecorator</string>
	<key>signatureThroughInterpreter</key>
	<string>optionVarStyle</string>
	<key>switchDuringMediator</key>
	<string>pageviewBeyondFacade</string>
	<key>tickerStrategyStyle</key>
	<string>tweenValueLeft</string>
	<key>visibleBufferResponse</key>
	<string>smallRadioInterval</string>
</dict>
</plist>
