<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAndEnvironment</key>
	<string>taskMethodCount</string>
	<key>challengeStateShade</key>
	<string>dependencyByTask</string>
	<key>exceptionActivityBrightness</key>
	<string>resolverContextBottom</string>
	<key>globalMediaqueryBottom</key>
	<string>providerKindMomentum</string>
	<key>greatContainerInterval</key>
	<string>commandTypeResponse</string>
	<key>methodPhaseHue</key>
	<string>mediocreCurveRate</string>
	<key>nextGraphicLeft</key>
	<string>usedInterfaceScale</string>
	<key>topicFrameworkOffset</key>
	<string>globalTopicTag</string>
	<key>widgetAsFramework</key>
	<string>contractionBufferOrientation</string>
</dict>
</plist>
