<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityOperationRotation</key>
	<string>offsetCommandInterval</string>
	<key>richtextBridgeRotation</key>
	<string>significantLayerIndex</string>
	<key>touchModeOpacity</key>
	<string>futureMediatorName</string>
</dict>
</plist>
