<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionVersusDecorator</key>
	<string>priorTextfieldIndex</string>
	<key>effectBeyondFlyweight</key>
	<string>widgetAsTask</string>
	<key>effectFromWork</key>
	<string>nativeIntensityShade</string>
	<key>grainOfScope</key>
	<string>localizationContainCommand</string>
	<key>iterativeLayerRotation</key>
	<string>seamlessInterfaceSpacing</string>
	<key>previewAgainstMethod</key>
	<string>requiredSubpixelEdge</string>
	<key>relationalLogHue</key>
	<string>synchronousGraphBorder</string>
	<key>stateOrNumber</key>
	<string>nativeDescriptionDelay</string>
	<key>typicalBaselineDuration</key>
	<string>statefulPlatformAcceleration</string>
</dict>
</plist>
