<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerBesideNumber</key>
	<string>optimizerPhaseAcceleration</string>
	<key>custompaintAsComposite</key>
	<string>flexibleStoreRight</string>
	<key>discardedNavigatorCenter</key>
	<string>effectOutsideState</string>
	<key>ignoredRemainderTag</key>
	<string>reusableAspectratioLeft</string>
	<key>listviewStrategyFrequency</key>
	<string>permissiveConsumerKind</string>
	<key>loopOfJob</key>
	<string>animatedcontainerThanFramework</string>
	<key>navigatorThroughCommand</key>
	<string>hashViaEnvironment</string>
	<key>persistentPriorityDepth</key>
	<string>gridviewByPattern</string>
	<key>richtextBeyondLayer</key>
	<string>aspectratioByChain</string>
</dict>
</plist>
