<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerStorageVelocity</key>
	<string>cubitWithoutTask</string>
	<key>kernelFacadeMomentum</key>
	<string>concurrentSineCenter</string>
	<key>nativeStoreAppearance</key>
	<string>layoutNearTemple</string>
	<key>resourceAdapterValidation</key>
	<string>nodeStructureTail</string>
	<key>spriteDecoratorStyle</key>
	<string>tabviewAndVisitor</string>
	<key>unactivatedChapterInset</key>
	<string>providerWorkRight</string>
	<key>vectorForLayer</key>
	<string>widgetContextName</string>
</dict>
</plist>
