<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerViaBuffer</key>
	<string>interactiveBlocTail</string>
	<key>customThemeSpacing</key>
	<string>interactivePriorityVisible</string>
	<key>descriptionContextBrightness</key>
	<string>retainedBlocTop</string>
	<key>flexSinceChain</key>
	<string>effectBridgeOpacity</string>
	<key>gateAboutPattern</key>
	<string>keySceneStyle</string>
	<key>particleUntilOperation</key>
	<string>agileNavigatorType</string>
	<key>priorityDuringMediator</key>
	<string>mainWorkflowMomentum</string>
	<key>providerCommandState</key>
	<string>riverpodWithoutBridge</string>
	<key>sessionAsAdapter</key>
	<string>mobxAtPhase</string>
	<key>statefulCompletionLocation</key>
	<string>desktopCommandFrequency</string>
</dict>
</plist>
