<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationObserverTag</key>
	<string>tickerOrVariable</string>
	<key>descriptorAboutMediator</key>
	<string>hashChainRate</string>
	<key>nodeByStyle</key>
	<string>mapContextInterval</string>
	<key>respectiveCubitValidation</key>
	<string>criticalFrameKind</string>
	<key>typicalCubitVisible</key>
	<string>sensorViaJob</string>
</dict>
</plist>
