<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferVersusValue</key>
	<string>controllerAroundOperation</string>
	<key>columnPrototypeForce</key>
	<string>cacheStrategyDepth</string>
	<key>commandVariableName</key>
	<string>layoutAndPrototype</string>
	<key>progressbarFromLayer</key>
	<string>assetAroundPlatform</string>
	<key>routerAwayCommand</key>
	<string>cupertinoTaskRight</string>
	<key>utilInsideMode</key>
	<string>immediateCapsuleShade</string>
</dict>
</plist>
