<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileBorderFlags</key>
	<string>boxshadowOrEnvironment</string>
	<key>builderBesideSingleton</key>
	<string>routeThanEnvironment</string>
	<key>deferredFragmentInteraction</key>
	<string>offsetLevelFormat</string>
	<key>descriptionAroundStyle</key>
	<string>eventBeyondMemento</string>
	<key>lastShaderVisible</key>
	<string>textBeyondStructure</string>
	<key>menuFormDuration</key>
	<string>custompaintSingletonSpeed</string>
	<key>publicBorderTint</key>
	<string>gradientThanSingleton</string>
	<key>subtleLogarithmVisibility</key>
	<string>resultBesideType</string>
	<key>transitionAwayJob</key>
	<string>observerPatternLeft</string>
</dict>
</plist>
