<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticTaskValidation</key>
	<string>timerCommandVisibility</string>
	<key>delegateAtDecorator</key>
	<string>sizeAdapterContrast</string>
	<key>delicateMasterBorder</key>
	<string>tickerAmongLevel</string>
	<key>gridContainComposite</key>
	<string>specifierStrategyScale</string>
	<key>particleLayerMargin</key>
	<string>heapSystemName</string>
</dict>
</plist>
