<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveClipperCoord</key>
	<string>durationContainTier</string>
	<key>challengeUntilStage</key>
	<string>dependencyCompositePosition</string>
	<key>crucialTweenCoord</key>
	<string>tweenScopeEdge</string>
	<key>easyCanvasResponse</key>
	<string>compositionalGestureCenter</string>
	<key>graphAsSystem</key>
	<string>directlyGraphDistance</string>
	<key>otherBlocRight</key>
	<string>queryChainRotation</string>
	<key>routeModeDistance</key>
	<string>callbackTempleEdge</string>
	<key>skinFrameworkLocation</key>
	<string>futureOperationDelay</string>
</dict>
</plist>
