<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedNavigatorHue</key>
	<string>documentBeyondFlyweight</string>
	<key>apertureVisitorBehavior</key>
	<string>cosineStyleFormat</string>
	<key>axisFromValue</key>
	<string>channelOrFunction</string>
	<key>canvasPatternAlignment</key>
	<string>coordinatorAboutProcess</string>
	<key>controllerOutsideShape</key>
	<string>composableSensorTension</string>
	<key>diversifiedBinaryLeft</key>
	<string>matrixStageMomentum</string>
	<key>skinProcessSize</key>
	<string>sustainableControllerFormat</string>
</dict>
</plist>
