<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerPerBuffer</key>
	<string>multiResourceVisible</string>
	<key>granularCompletionScale</key>
	<string>secondRadioType</string>
	<key>priorCapsuleFormat</key>
	<string>delegateWithoutForm</string>
	<key>profileSinceOperation</key>
	<string>euclideanAsyncStatus</string>
	<key>symmetricManagerSaturation</key>
	<string>robustNibCenter</string>
</dict>
</plist>
