<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSensorShade</key>
	<string>semanticsPerProcess</string>
	<key>criticalMetadataFeedback</key>
	<string>interactorThanParam</string>
	<key>futureFacadeForce</key>
	<string>builderOrVisitor</string>
	<key>grainOfMode</key>
	<string>routeFunctionDistance</string>
	<key>mobxInsideAdapter</key>
	<string>activePositionColor</string>
	<key>rowThanVar</key>
	<string>viewAwaySingleton</string>
</dict>
</plist>
