<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diffableControllerSkewy</key>
	<string>configurationTaskScale</string>
	<key>fusedAsyncIndex</key>
	<string>immutableBlocTop</string>
	<key>gradientAmongContext</key>
	<string>primaryTextureMode</string>
	<key>masterDecoratorTop</key>
	<string>activeHashPosition</string>
	<key>projectForCycle</key>
	<string>streamShapeInterval</string>
</dict>
</plist>
