<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerResponseTension</key>
	<string>activeExpandedRotation</string>
	<key>interfaceExceptScope</key>
	<string>titleOutsideBridge</string>
	<key>modalAboutStage</key>
	<string>momentumTierLeft</string>
	<key>notificationAwayNumber</key>
	<string>sophisticatedContainerStatus</string>
	<key>protectedRectTension</key>
	<string>concurrentErrorPadding</string>
	<key>sustainableStreamDelay</key>
	<string>inkwellCycleHead</string>
	<key>viewViaKind</key>
	<string>consumerAlongTier</string>
</dict>
</plist>
