<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleFacadeFrequency</key>
	<string>listviewContextFormat</string>
	<key>concurrentWidgetSaturation</key>
	<string>animatedProgressbarPressure</string>
	<key>mediumMultiplicationCenter</key>
	<string>apertureThroughProcess</string>
	<key>musicAtStyle</key>
	<string>synchronousMatrixCenter</string>
	<key>progressbarUntilKind</key>
	<string>imageBridgeRate</string>
	<key>radioDespiteDecorator</key>
	<string>transitionAlongStyle</string>
</dict>
</plist>
