<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardOptionLocation</key>
	<string>numericalCubitValidation</string>
	<key>cosineFacadeTop</key>
	<string>sharedTickerIndex</string>
	<key>euclideanStateMargin</key>
	<string>listenerSingletonSpeed</string>
	<key>fragmentInMode</key>
	<string>gemProxyCount</string>
	<key>gemFormMode</key>
	<string>checkboxTaskPadding</string>
	<key>layoutKindCount</key>
	<string>smallResolverMargin</string>
	<key>routeLayerPosition</key>
	<string>pointAndAction</string>
	<key>secondMaterialForce</key>
	<string>futureForCommand</string>
	<key>titleScopeBound</key>
	<string>graphicPhaseTail</string>
	<key>usecaseForFramework</key>
	<string>unaryTemplePressure</string>
</dict>
</plist>
