<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>challengeOrTask</key>
	<string>checkboxPatternName</string>
	<key>gridExceptStructure</key>
	<string>themeCycleTail</string>
	<key>injectionCommandState</key>
	<string>arithmeticThanEnvironment</string>
	<key>notificationLikeSystem</key>
	<string>roleStrategyBehavior</string>
	<key>offsetStructureKind</key>
	<string>effectDuringOperation</string>
	<key>radioDuringMode</key>
	<string>reductionLevelFeedback</string>
</dict>
</plist>
