<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerKindTension</key>
	<string>dynamicTangentIndex</string>
	<key>functionalAlignmentDirection</key>
	<string>cacheScopeSkewy</string>
	<key>layoutMementoMomentum</key>
	<string>collectionOutsideScope</string>
	<key>semanticUnaryOffset</key>
	<string>subscriptionAwayChain</string>
	<key>unactivatedGroupInteraction</key>
	<string>remainderStyleVisibility</string>
</dict>
</plist>
