<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardViewShape</key>
	<string>optimizerMediatorScale</string>
	<key>characterAwayNumber</key>
	<string>hashShapeBorder</string>
	<key>concreteCheckboxTransparency</key>
	<string>streamForInterpreter</string>
	<key>responseSingletonMode</key>
	<string>otherCaptionFeedback</string>
	<key>resultMethodInset</key>
	<string>hardPositionedTail</string>
	<key>uniquePopupInterval</key>
	<string>isolateLevelSaturation</string>
	<key>utilBufferInteraction</key>
	<string>transitionNearJob</string>
</dict>
</plist>
