<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionFrameSkewx</key>
	<string>heapAroundInterpreter</string>
	<key>activeChannelHead</key>
	<string>subpixelForBuffer</string>
	<key>compositionInterpreterDelay</key>
	<string>delegateAlongShape</string>
	<key>descriptorThroughEnvironment</key>
	<string>durationBeyondParam</string>
	<key>frameCompositeAppearance</key>
	<string>customizedRowAcceleration</string>
	<key>graphByActivity</key>
	<string>frameBufferStyle</string>
	<key>instructionShapeDensity</key>
	<string>activeChapterShade</string>
	<key>missedAspectResponse</key>
	<string>handlerThroughProcess</string>
	<key>specifyOffsetDensity</key>
	<string>popupTierSpeed</string>
</dict>
</plist>
