<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncTransitionPosition</key>
	<string>hardStorageFeedback</string>
	<key>awaitFormLeft</key>
	<string>momentumFunctionDistance</string>
	<key>chapterAgainstScope</key>
	<string>modalAboutEnvironment</string>
	<key>navigatorThroughState</key>
	<string>progressbarFormSkewx</string>
	<key>pinchableConsumerCoord</key>
	<string>errorActivityInset</string>
	<key>sceneAndPrototype</key>
	<string>coordinatorAtShape</string>
	<key>shaderBridgeMode</key>
	<string>priorSwitchSpeed</string>
	<key>techniqueScopeFeedback</key>
	<string>channelMementoDirection</string>
</dict>
</plist>
