<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionUtilAlignment</key>
	<string>logarithmAsPrototype</string>
	<key>adaptiveCommandMomentum</key>
	<string>previewForProcess</string>
	<key>animatedBatchLocation</key>
	<string>diffableKernelFlags</string>
	<key>animatedcontainerLevelAcceleration</key>
	<string>widgetAsProcess</string>
	<key>constBaseFlags</key>
	<string>reusableLabelLeft</string>
	<key>futureCommandOrigin</key>
	<string>cubitFunctionMomentum</string>
	<key>layoutBufferType</key>
	<string>awaitSingletonDuration</string>
	<key>scrollableServiceTransparency</key>
	<string>assetSinceTask</string>
	<key>sortedGroupLocation</key>
	<string>exceptionSinceMemento</string>
</dict>
</plist>
