<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSpecifierOpacity</key>
	<string>offsetMementoTension</string>
	<key>animatedConstraintValidation</key>
	<string>popupAdapterFormat</string>
	<key>columnLayerTension</key>
	<string>customResolverTheme</string>
	<key>diffableMaterialPadding</key>
	<string>statelessEntitySize</string>
	<key>durationAsActivity</key>
	<string>scrollableCustompaintBehavior</string>
	<key>otherTransitionTail</key>
	<string>titleActionState</string>
	<key>sampleAlongFlyweight</key>
	<string>invisibleBufferDepth</string>
	<key>uniformRoleSaturation</key>
	<string>desktopInterpolationTransparency</string>
	<key>usagePerPrototype</key>
	<string>protectedStoreLocation</string>
</dict>
</plist>
