<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerParamRate</key>
	<string>temporaryChecklistDepth</string>
	<key>crudeModelStatus</key>
	<string>serviceBridgeShape</string>
	<key>mediaMethodStyle</key>
	<string>flexibleCursorBorder</string>
	<key>radiusDuringActivity</key>
	<string>retainedAspectratioVisible</string>
	<key>respectiveBuilderPosition</key>
	<string>pinchableFactoryFormat</string>
	<key>sessionObserverMode</key>
	<string>groupWithoutPattern</string>
	<key>subsequentBitrateInset</key>
	<string>composableCurveTail</string>
</dict>
</plist>
