<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletContainAction</key>
	<string>tweenSystemSize</string>
	<key>convolutionForFramework</key>
	<string>vectorTierDistance</string>
	<key>factoryFacadeType</key>
	<string>deferredAnimationTension</string>
	<key>multiReductionShade</key>
	<string>uniformIconBehavior</string>
	<key>painterMementoOpacity</key>
	<string>textTempleFeedback</string>
	<key>radioFunctionTheme</key>
	<string>borderNearPattern</string>
	<key>streamNearCommand</key>
	<string>lossSystemPosition</string>
</dict>
</plist>
