<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>granularSizedboxSize</key>
	<string>immutableScreenCenter</string>
	<key>mediumSubpixelFormat</key>
	<string>crudeSignName</string>
	<key>oldLoopKind</key>
	<string>staticInterpolationKind</string>
	<key>profileBeyondForm</key>
	<string>flexWithAdapter</string>
	<key>rowContainNumber</key>
	<string>liteChartType</string>
	<key>statefulVariableDepth</key>
	<string>taskOperationHue</string>
</dict>
</plist>
