<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedAnimatedcontainerHead</key>
	<string>sustainableProviderTint</string>
	<key>grainOfStructure</key>
	<string>managerAdapterIndex</string>
	<key>notificationVariableVelocity</key>
	<string>activeQueryOpacity</string>
</dict>
</plist>
