<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetOperationDuration</key>
	<string>enabledCubitTop</string>
	<key>behaviorFacadeMargin</key>
	<string>methodPatternFlags</string>
	<key>localizationModeRight</key>
	<string>substantialDialogsVelocity</string>
	<key>metadataPerParam</key>
	<string>compositionBesideFacade</string>
	<key>scrollableCacheFeedback</key>
	<string>themeAmongVariable</string>
	<key>serviceParameterStatus</key>
	<string>decorationBesideShape</string>
	<key>sinkInsideJob</key>
	<string>typicalExpandedBottom</string>
	<key>transitionForBuffer</key>
	<string>workflowByBridge</string>
</dict>
</plist>
