<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerThroughParameter</key>
	<string>consumerAlongPrototype</string>
	<key>enabledStackCount</key>
	<string>chartLayerTension</string>
	<key>modelOperationDuration</key>
	<string>convolutionChainTint</string>
	<key>profilePrototypeEdge</key>
	<string>futureBeyondOperation</string>
</dict>
</plist>
