<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWithoutJob</key>
	<string>reductionOfPlatform</string>
	<key>cartesianNodeMomentum</key>
	<string>borderMethodAcceleration</string>
	<key>compositionMediatorStatus</key>
	<string>seamlessUsecaseKind</string>
	<key>delegateWithTemple</key>
	<string>unsortedAsyncAcceleration</string>
	<key>diversifiedSceneOrientation</key>
	<string>concurrentRowBottom</string>
	<key>durationStrategyInterval</key>
	<string>rowFromTemple</string>
	<key>effectExceptParameter</key>
	<string>accessibleActionTheme</string>
	<key>sizeModeMomentum</key>
	<string>activatedAppbarFormat</string>
	<key>storageNumberForce</key>
	<string>coordinatorLevelTransparency</string>
</dict>
</plist>
