<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandDuringTemple</key>
	<string>listenerActivityName</string>
	<key>explicitMapVisible</key>
	<string>momentumForNumber</string>
	<key>interactorAlongMemento</key>
	<string>layerPhaseVisible</string>
	<key>interfaceTierDepth</key>
	<string>dimensionOutsideCycle</string>
	<key>largeAwaitVelocity</key>
	<string>querySinceNumber</string>
	<key>lazyEventRight</key>
	<string>symmetricTitlePressure</string>
	<key>navigatorFlyweightHead</key>
	<string>stampStrategyType</string>
	<key>playbackAndMemento</key>
	<string>asynchronousSignStatus</string>
	<key>relationalDrawerAppearance</key>
	<string>imageVisitorState</string>
	<key>repositoryPatternOrigin</key>
	<string>subsequentHeroFlags</string>
</dict>
</plist>
