<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertInterpreterState</key>
	<string>sustainableCaptionLeft</string>
	<key>coordinatorForSystem</key>
	<string>subpixelObserverShade</string>
	<key>crucialAsyncDuration</key>
	<string>ephemeralAssetLeft</string>
	<key>customizedLoopSkewx</key>
	<string>smartButtonEdge</string>
	<key>largeInjectionContrast</key>
	<string>graphicMementoScale</string>
	<key>nodeParamTail</key>
	<string>semanticCubitBottom</string>
	<key>unaryTypePressure</key>
	<string>semanticProgressbarBottom</string>
</dict>
</plist>
