<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customErrorCoord</key>
	<string>mapSinceProxy</string>
	<key>immutableLabelBound</key>
	<string>protocolKindTop</string>
	<key>labelTaskAlignment</key>
	<string>stepValueCenter</string>
	<key>switchVisitorAcceleration</key>
	<string>navigationAdapterDepth</string>
	<key>timerVersusBuffer</key>
	<string>swiftLikeJob</string>
</dict>
</plist>
