<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureNumberVisibility</key>
	<string>signatureAroundContext</string>
	<key>gateOrLayer</key>
	<string>injectionOrObserver</string>
	<key>sceneViaStage</key>
	<string>alignmentOrMemento</string>
	<key>signNearDecorator</key>
	<string>directlyStoryboardOrigin</string>
	<key>textKindTint</key>
	<string>buttonAsInterpreter</string>
	<key>topicFormTransparency</key>
	<string>semanticRepositoryContrast</string>
</dict>
</plist>
