<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandFromOperation</key>
	<string>descriptionDecoratorMomentum</string>
	<key>consultativeWidgetValidation</key>
	<string>masterOrScope</string>
	<key>eagerBrushResponse</key>
	<string>multiplicationValueSkewx</string>
	<key>inheritedTopicRight</key>
	<string>rapidPositionAlignment</string>
	<key>offsetAgainstProxy</key>
	<string>vectorActionFlags</string>
	<key>permanentBoxshadowSkewy</key>
	<string>slashPrototypeMode</string>
	<key>spriteActionKind</key>
	<string>denseWidgetResponse</string>
	<key>tableProxyFrequency</key>
	<string>routeVisitorVelocity</string>
	<key>taskLevelContrast</key>
	<string>transitionStyleFlags</string>
</dict>
</plist>
