<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDecoratorTag</key>
	<string>getxStyleTag</string>
	<key>concreteGetxOpacity</key>
	<string>slashOrCycle</string>
	<key>containerParamHead</key>
	<string>rectObserverContrast</string>
	<key>monsterAboutScope</key>
	<string>descriptionTaskBehavior</string>
	<key>specifyStampPosition</key>
	<string>previewUntilCommand</string>
	<key>widgetProcessContrast</key>
	<string>riverpodSingletonLocation</string>
</dict>
</plist>
