<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMementoTail</key>
	<string>containerLayerMargin</string>
	<key>entropyActionFeedback</key>
	<string>textureVarPosition</string>
	<key>lazyInterfaceOrientation</key>
	<string>dependencyInterpreterBrightness</string>
	<key>parallelResourceMargin</key>
	<string>declarativeMethodShape</string>
	<key>reusableSliderBehavior</key>
	<string>graphContainOperation</string>
</dict>
</plist>
