<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderPerTask</key>
	<string>blocFlyweightTag</string>
	<key>constraintByOperation</key>
	<string>cartesianRadioTop</string>
	<key>custompaintDuringProxy</key>
	<string>channelParamCoord</string>
	<key>giftVariableFlags</key>
	<string>parallelInterfaceForce</string>
	<key>shaderTierInteraction</key>
	<string>labelWithStructure</string>
	<key>statefulVarTail</key>
	<string>painterStateAppearance</string>
</dict>
</plist>
