<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerOfPlatform</key>
	<string>finalLoopState</string>
	<key>gateAlongPrototype</key>
	<string>normStageInset</string>
	<key>multiSpineVisible</key>
	<string>grainThroughType</string>
	<key>nextGrayscaleResponse</key>
	<string>cubeWithAdapter</string>
	<key>positionedWithoutMode</key>
	<string>sessionFacadeTransparency</string>
	<key>repositoryMementoRight</key>
	<string>normWorkCenter</string>
</dict>
</plist>
