<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>monsterScopeEdge</key>
	<string>futureVisitorPadding</string>
	<key>positionKindBorder</key>
	<string>injectionFunctionOffset</string>
	<key>storyboardBeyondProcess</key>
	<string>hierarchicalCanvasForce</string>
</dict>
</plist>
