<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateParameterForce</key>
	<string>ternaryInterpreterLocation</string>
	<key>denseSpriteTint</key>
	<string>spineMethodDelay</string>
	<key>integerProcessMomentum</key>
	<string>routeLayerVisibility</string>
	<key>navigationOutsideVisitor</key>
	<string>extensionScopeType</string>
	<key>segueByState</key>
	<string>baselineAtVisitor</string>
	<key>subscriptionThroughValue</key>
	<string>boxshadowThroughDecorator</string>
</dict>
</plist>
