<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncDespiteFacade</key>
	<string>rectParameterCount</string>
	<key>builderOrWork</key>
	<string>layoutThroughChain</string>
	<key>contractionSystemCount</key>
	<string>nodeDuringLayer</string>
	<key>crucialSensorLeft</key>
	<string>alertVersusJob</string>
	<key>fragmentContextVelocity</key>
	<string>serviceJobShape</string>
	<key>resultAgainstVariable</key>
	<string>largeBaselineRight</string>
	<key>tangentLayerForce</key>
	<string>routeAlongVar</string>
</dict>
</plist>
