<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorFunctionTension</key>
	<string>richtextAlongAction</string>
	<key>dropdownbuttonByVar</key>
	<string>protectedRectStatus</string>
	<key>gramProcessRotation</key>
	<string>tensorButtonBorder</string>
	<key>mediaqueryUntilVisitor</key>
	<string>crucialChapterContrast</string>
	<key>notifierAroundEnvironment</key>
	<string>deferredPositionColor</string>
	<key>seamlessCoordinatorStyle</key>
	<string>storageAtStage</string>
	<key>statelessHashVelocity</key>
	<string>disparateSessionEdge</string>
	<key>storageAgainstMemento</key>
	<string>unaryCommandMomentum</string>
	<key>tickerByVariable</key>
	<string>usageAboutLayer</string>
</dict>
</plist>
