<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardPointSpeed</key>
	<string>compositionStyleStyle</string>
	<key>documentPhaseMode</key>
	<string>routeTaskTint</string>
	<key>isolateParameterIndex</key>
	<string>liteDelegateFlags</string>
	<key>keyPlaybackSaturation</key>
	<string>respectiveBulletTransparency</string>
	<key>metadataMementoHead</key>
	<string>interfaceFrameworkHue</string>
	<key>observerSingletonCenter</key>
	<string>grainNearProxy</string>
</dict>
</plist>
