<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentVisitorSkewy</key>
	<string>errorVisitorBound</string>
	<key>completionAlongState</key>
	<string>presenterVisitorInset</string>
	<key>giftBeyondVisitor</key>
	<string>subtleRemainderSpeed</string>
	<key>modalSingletonFlags</key>
	<string>commandStageCoord</string>
	<key>protocolBesideTask</key>
	<string>smartDocumentTop</string>
	<key>queueVariableFeedback</key>
	<string>iterativeProviderShape</string>
	<key>singleMaterialDepth</key>
	<string>lazyEqualizationCount</string>
	<key>tangentTaskInteraction</key>
	<string>operationVariableFeedback</string>
	<key>transitionParameterShade</key>
	<string>cardStyleFormat</string>
	<key>widgetForInterpreter</key>
	<string>durationPatternRotation</string>
</dict>
</plist>
