<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertNearInterpreter</key>
	<string>sampleEnvironmentVisibility</string>
	<key>basicSpriteValidation</key>
	<string>completionInterpreterInterval</string>
	<key>catalystActionRight</key>
	<string>requiredFactoryPosition</string>
	<key>cubeScopeVelocity</key>
	<string>taskCompositeInterval</string>
	<key>draggableGramBound</key>
	<string>effectByJob</string>
	<key>imageSingletonColor</key>
	<string>mapFormType</string>
	<key>intuitiveMapSpeed</key>
	<string>captionBesidePrototype</string>
	<key>mobxKindAppearance</key>
	<string>navigatorThanFlyweight</string>
	<key>resourceTierBorder</key>
	<string>permanentSignTint</string>
	<key>techniqueShapeSkewx</key>
	<string>loopNearSingleton</string>
</dict>
</plist>
