<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterUntilScope</key>
	<string>baselineAboutTier</string>
	<key>commonBoxshadowTop</key>
	<string>optimizerVersusParameter</string>
	<key>durationDuringPlatform</key>
	<string>subscriptionAdapterDensity</string>
	<key>extensionShapePosition</key>
	<string>decorationContextPressure</string>
	<key>featureScopeForce</key>
	<string>iconStructureFeedback</string>
	<key>sensorAndStructure</key>
	<string>providerNearStage</string>
	<key>standaloneBulletMargin</key>
	<string>resultInsideMediator</string>
	<key>storageFunctionHue</key>
	<string>statefulNodeValidation</string>
	<key>vectorNearAdapter</key>
	<string>constraintUntilShape</string>
	<key>widgetTierHue</key>
	<string>unarySystemTransparency</string>
</dict>
</plist>
