<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardTableSaturation</key>
	<string>invisibleCoordinatorRight</string>
	<key>builderThanProcess</key>
	<string>seamlessGateTheme</string>
	<key>interactorDuringWork</key>
	<string>inactiveRowContrast</string>
	<key>numericalQueueBehavior</key>
	<string>robustNodeForce</string>
	<key>robustOverlaySkewy</key>
	<string>entityEnvironmentTop</string>
</dict>
</plist>
