<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderOperationDelay</key>
	<string>sizedboxCycleAlignment</string>
	<key>interpolationPrototypeTail</key>
	<string>spotActivityDuration</string>
	<key>multiAccessoryFeedback</key>
	<string>advancedCharacterDirection</string>
</dict>
</plist>
