<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFromParameter</key>
	<string>petIncludePattern</string>
	<key>durationExceptPattern</key>
	<string>assetStateBrightness</string>
	<key>handlerVisitorVisibility</key>
	<string>smartDecorationFeedback</string>
	<key>optionEnvironmentCoord</key>
	<string>standaloneRouteOrientation</string>
	<key>statelessPatternFeedback</key>
	<string>providerAwayPrototype</string>
	<key>storageTempleInset</key>
	<string>sortedTaskIndex</string>
	<key>tickerVarResponse</key>
	<string>chapterActivityVisible</string>
</dict>
</plist>
