<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetCycleTheme</key>
	<string>swiftOperationPadding</string>
	<key>exponentExceptStyle</key>
	<string>taskTypeAlignment</string>
	<key>previewWithMediator</key>
	<string>fragmentBesideBridge</string>
	<key>publicBoxAppearance</key>
	<string>loopInComposite</string>
	<key>reactiveDecorationShade</key>
	<string>titleActionSkewy</string>
	<key>streamScopeCenter</key>
	<string>titleUntilStyle</string>
</dict>
</plist>
