<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customActionAppearance</key>
	<string>persistentContainerTransparency</string>
	<key>cyclePerKind</key>
	<string>cartesianMetadataInteraction</string>
	<key>imageAboutCycle</key>
	<string>liteNibTension</string>
	<key>memberPatternSize</key>
	<string>resolverAdapterOffset</string>
	<key>oldRepositoryInterval</key>
	<string>controllerAdapterName</string>
	<key>providerSingletonFormat</key>
	<string>getxModeAcceleration</string>
	<key>streamPhaseForce</key>
	<string>unsortedAspectratioOrigin</string>
	<key>viewAgainstPhase</key>
	<string>asyncBulletName</string>
</dict>
</plist>
