<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitThanAdapter</key>
	<string>immediateDimensionDuration</string>
	<key>dependencyAboutState</key>
	<string>profileAgainstTemple</string>
	<key>grainEnvironmentCenter</key>
	<string>robustSpineLocation</string>
	<key>intensityContainObserver</key>
	<string>featurePerPrototype</string>
	<key>subscriptionDespiteScope</key>
	<string>mobileCommandRate</string>
	<key>threadMementoBrightness</key>
	<string>pinchableNavigatorFeedback</string>
</dict>
</plist>
