<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerTechniqueOrientation</key>
	<string>skirtFromChain</string>
	<key>boxVisitorInteraction</key>
	<string>lostTaskSaturation</string>
	<key>cardBesideProxy</key>
	<string>normalMobileStyle</string>
	<key>concurrentLayoutType</key>
	<string>protectedProjectShape</string>
	<key>equipmentMediatorCoord</key>
	<string>convolutionOfParameter</string>
	<key>futureViaKind</key>
	<string>interpolationTempleRight</string>
	<key>primaryVariantRotation</key>
	<string>gradientWithoutKind</string>
</dict>
</plist>
