<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSignMargin</key>
	<string>callbackTaskBottom</string>
	<key>controllerScopeAppearance</key>
	<string>semanticStreamIndex</string>
	<key>crucialContractionResponse</key>
	<string>gesturedetectorVisitorFeedback</string>
	<key>diversifiedGrainTag</key>
	<string>channelBesideCommand</string>
	<key>ephemeralInjectionDepth</key>
	<string>rowStrategyContrast</string>
	<key>projectVersusParam</key>
	<string>challengeThanVariable</string>
	<key>routePerParameter</key>
	<string>imageIncludeTemple</string>
	<key>touchDecoratorOpacity</key>
	<string>equalizationDecoratorTag</string>
	<key>widgetKindIndex</key>
	<string>queryThanStyle</string>
</dict>
</plist>
