<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedFlexAcceleration</key>
	<string>retainedMomentumDuration</string>
	<key>hyperbolicAxisFlags</key>
	<string>symbolShapeFlags</string>
	<key>interactiveRepositoryVelocity</key>
	<string>musicBeyondPlatform</string>
	<key>overlayAmongActivity</key>
	<string>euclideanSessionAlignment</string>
	<key>previewSingletonHue</key>
	<string>substantialThreadDepth</string>
	<key>queueActivitySize</key>
	<string>rowParameterDuration</string>
	<key>riverpodInsideSystem</key>
	<string>relationalCurveMargin</string>
	<key>scenePlatformInteraction</key>
	<string>widgetOperationStatus</string>
	<key>subscriptionBridgeTop</key>
	<string>currentArithmeticTint</string>
</dict>
</plist>
