<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedTangentInteraction</key>
	<string>paddingFromVisitor</string>
	<key>requestBeyondTask</key>
	<string>activityContextPadding</string>
	<key>textfieldMediatorOrientation</key>
	<string>cosineAroundFacade</string>
</dict>
</plist>
