<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custompaintAdapterHead</key>
	<string>bufferAdapterResponse</string>
	<key>delegatePlatformLeft</key>
	<string>monsterMementoFormat</string>
	<key>drawerAboutWork</key>
	<string>taskOperationHead</string>
	<key>dropdownbuttonOfVariable</key>
	<string>asyncJobFeedback</string>
	<key>entityStageDirection</key>
	<string>mobxSystemColor</string>
	<key>lossDespiteSystem</key>
	<string>temporaryRouteShape</string>
	<key>resizableSubpixelVisible</key>
	<string>finalStateVelocity</string>
	<key>sensorSystemInset</key>
	<string>sessionProcessRotation</string>
</dict>
</plist>
