<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerBeyondFramework</key>
	<string>screenFlyweightDirection</string>
	<key>serviceAlongFacade</key>
	<string>inheritedTouchEdge</string>
	<key>timerAtAction</key>
	<string>timerAroundValue</string>
	<key>uniformMenuContrast</key>
	<string>animatedcontainerAgainstMediator</string>
	<key>viewStrategyBound</key>
	<string>captionActivityTint</string>
</dict>
</plist>
