<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalBatchTop</key>
	<string>captionOfMemento</string>
	<key>scrollableQueueEdge</key>
	<string>largeChannelBrightness</string>
	<key>tabviewTypeTint</key>
	<string>eventAndFunction</string>
</dict>
</plist>
