<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorByPhase</key>
	<string>descriptorDuringActivity</string>
	<key>disparateViewTail</key>
	<string>serviceAlongStage</string>
	<key>labelAroundLevel</key>
	<string>richtextLayerLocation</string>
	<key>listviewForTemple</key>
	<string>draggableTernaryState</string>
	<key>popupObserverCount</key>
	<string>responseThroughAdapter</string>
	<key>retainedGridInteraction</key>
	<string>criticalRouteFormat</string>
	<key>sliderAmongStrategy</key>
	<string>delegateTempleLeft</string>
	<key>viewFromComposite</key>
	<string>routeFunctionMode</string>
</dict>
</plist>
