<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handlerActionColor</key>
	<string>builderChainBehavior</string>
	<key>injectionBeyondFunction</key>
	<string>mediocreRepositoryBehavior</string>
	<key>labelAsFlyweight</key>
	<string>tweenAlongTier</string>
	<key>resourceModeCenter</key>
	<string>keyProfileInteraction</string>
	<key>segmentProxyColor</key>
	<string>collectionLikeFramework</string>
	<key>significantInkwellLeft</key>
	<string>challengeFromMethod</string>
	<key>sortedManagerVisibility</key>
	<string>tensorViewDirection</string>
</dict>
</plist>
