<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeInterfaceName</key>
	<string>titlePhaseDepth</string>
	<key>groupSystemFrequency</key>
	<string>otherChartIndex</string>
	<key>movementMediatorContrast</key>
	<string>protectedMusicAcceleration</string>
	<key>navigatorLikeWork</key>
	<string>routeBeyondProcess</string>
	<key>viewMediatorTension</key>
	<string>disabledProviderTension</string>
</dict>
</plist>
