<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectWithPlatform</key>
	<string>unactivatedDecorationPosition</string>
	<key>fixedGetxDuration</key>
	<string>currentEventBound</string>
	<key>grainDuringActivity</key>
	<string>responseLevelAlignment</string>
	<key>gridOfShape</key>
	<string>menuCompositeOpacity</string>
	<key>groupVersusProcess</key>
	<string>particleAmongParam</string>
	<key>immutableLabelPressure</key>
	<string>reductionValueBottom</string>
	<key>newestParticleHue</key>
	<string>plateAndVisitor</string>
	<key>oldStateSkewy</key>
	<string>concurrentHeapRotation</string>
	<key>seamlessChartEdge</key>
	<string>curveStrategyCount</string>
</dict>
</plist>
