<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocKindOpacity</key>
	<string>offsetBeyondParam</string>
	<key>cacheAmongWork</key>
	<string>interactiveResponseVelocity</string>
	<key>nibAlongStrategy</key>
	<string>subsequentStatelessFlags</string>
	<key>tweenContextStyle</key>
	<string>managerPatternBottom</string>
</dict>
</plist>
