<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedNormAcceleration</key>
	<string>constOffsetAppearance</string>
	<key>composableStreamDirection</key>
	<string>curveBesideVar</string>
	<key>delegateTempleVisibility</key>
	<string>inkwellAroundFacade</string>
	<key>effectLayerSkewx</key>
	<string>largeCurveStyle</string>
	<key>eventCommandHue</key>
	<string>intensityViaShape</string>
	<key>retainedAsyncSkewy</key>
	<string>queueValueRate</string>
	<key>streamAroundAdapter</key>
	<string>tweenAndVariable</string>
</dict>
</plist>
