<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptorTypeIndex</key>
	<string>robustTextureBound</string>
	<key>giftCommandEdge</key>
	<string>sophisticatedHistogramFlags</string>
	<key>themeOutsideShape</key>
	<string>specifyPresenterDensity</string>
	<key>threadMementoDirection</key>
	<string>observerPrototypeState</string>
</dict>
</plist>
