<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAroundStyle</key>
	<string>navigatorLikeVisitor</string>
	<key>canvasByChain</key>
	<string>buttonNumberTag</string>
	<key>exponentFormTop</key>
	<string>semanticRowPosition</string>
	<key>getxAboutPattern</key>
	<string>utilUntilMode</string>
	<key>masterShapeDistance</key>
	<string>certificateStatePressure</string>
	<key>transformerProxyPadding</key>
	<string>largeZonePressure</string>
	<key>vectorTypeTop</key>
	<string>sequentialStorageHead</string>
</dict>
</plist>
