<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticModelShade</key>
	<string>callbackBeyondStage</string>
	<key>boxThanPattern</key>
	<string>navigatorSinceChain</string>
	<key>captionNearCommand</key>
	<string>delegateAndStage</string>
	<key>crudeAlertDepth</key>
	<string>permanentProjectionShade</string>
	<key>fixedBitrateOpacity</key>
	<string>futureActionStatus</string>
	<key>granularLayoutAppearance</key>
	<string>immediateBaselineScale</string>
	<key>movementAlongProxy</key>
	<string>modelProcessRate</string>
	<key>reactiveEventResponse</key>
	<string>alignmentOfChain</string>
	<key>scrollAgainstDecorator</key>
	<string>captionKindPressure</string>
	<key>sineActionOrigin</key>
	<string>animatedTweenAcceleration</string>
</dict>
</plist>
