<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionAboutFramework</key>
	<string>repositoryAlongNumber</string>
	<key>resizableBaselineLeft</key>
	<string>explicitRadiusFeedback</string>
	<key>sortedSegmentDensity</key>
	<string>queryVersusLayer</string>
	<key>subtleMaterialRight</key>
	<string>fusedDescriptionEdge</string>
	<key>tensorHistogramSpacing</key>
	<string>crucialExponentForce</string>
</dict>
</plist>
