<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetThroughTemple</key>
	<string>smallViewTransparency</string>
	<key>binaryFacadeOrigin</key>
	<string>certificateParamBrightness</string>
	<key>constSkirtAcceleration</key>
	<string>builderOperationBorder</string>
	<key>crudeLabelVisible</key>
	<string>nodeAroundWork</string>
	<key>discardedModelTop</key>
	<string>sequentialModelRate</string>
	<key>functionalProviderStyle</key>
	<string>popupStyleType</string>
	<key>rowNumberPressure</key>
	<string>visibleDecorationDirection</string>
	<key>threadLevelVelocity</key>
	<string>hashDespiteFramework</string>
	<key>tweenJobTransparency</key>
	<string>discardedLoopDirection</string>
</dict>
</plist>
