<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocCommandTension</key>
	<string>mobileAppbarLeft</string>
	<key>curveAwayLevel</key>
	<string>featureThroughContext</string>
	<key>listenerSinceBuffer</key>
	<string>navigatorCompositeFormat</string>
	<key>radiusAtBridge</key>
	<string>unsortedIntensityDirection</string>
	<key>similarCapsuleOpacity</key>
	<string>tensorCaptionPressure</string>
	<key>staticKernelFeedback</key>
	<string>responseModeVisibility</string>
	<key>subscriptionModeTheme</key>
	<string>resourceShapeType</string>
	<key>tabviewWithoutLayer</key>
	<string>segmentUntilNumber</string>
	<key>tappableStatefulLeft</key>
	<string>diversifiedInjectionInset</string>
</dict>
</plist>
