<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartWorkRight</key>
	<string>futureTypeMomentum</string>
	<key>descriptorThroughValue</key>
	<string>eagerCheckboxStatus</string>
	<key>firstRadiusTension</key>
	<string>bitrateObserverKind</string>
	<key>nativeBufferScale</key>
	<string>awaitLevelLocation</string>
	<key>petStructureKind</key>
	<string>plateProcessSaturation</string>
	<key>unsortedCapacitiesPosition</key>
	<string>dependencyIncludeLayer</string>
</dict>
</plist>
