<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPrototypeDelay</key>
	<string>concurrentGestureBehavior</string>
	<key>basicFutureInset</key>
	<string>durationActivityFrequency</string>
	<key>columnWorkForce</key>
	<string>gridDuringMethod</string>
	<key>gradientIncludePattern</key>
	<string>resourcePatternCount</string>
	<key>storagePhaseStyle</key>
	<string>missedDurationDensity</string>
	<key>storyboardAlongLevel</key>
	<string>largeCosineState</string>
	<key>subtleChannelsInset</key>
	<string>precisionStyleForce</string>
	<key>symmetricBufferSpeed</key>
	<string>protectedConstraintSpacing</string>
</dict>
</plist>
