<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionPatternStyle</key>
	<string>positionOperationAppearance</string>
	<key>crudeLabelCenter</key>
	<string>navigationLevelLeft</string>
	<key>nodeLayerStatus</key>
	<string>musicObserverTag</string>
	<key>spriteAdapterVelocity</key>
	<string>coordinatorAgainstCycle</string>
	<key>tableContainBuffer</key>
	<string>navigatorTaskBottom</string>
</dict>
</plist>
