<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationMediatorResponse</key>
	<string>cupertinoAsAdapter</string>
	<key>descriptionParamAppearance</key>
	<string>labelOutsideTask</string>
	<key>ignoredSliderCount</key>
	<string>awaitByKind</string>
	<key>offsetMementoTransparency</key>
	<string>momentumSinceForm</string>
	<key>sensorTempleMargin</key>
	<string>sampleAtSingleton</string>
	<key>sortedStateDuration</key>
	<string>checklistParameterForce</string>
	<key>textKindDelay</key>
	<string>remainderBufferFeedback</string>
	<key>usageTierVisibility</key>
	<string>equipmentMethodType</string>
</dict>
</plist>
