<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartSingletonVelocity</key>
	<string>desktopMenuSpeed</string>
	<key>delegateStructureCount</key>
	<string>techniqueDuringStyle</string>
	<key>groupUntilLayer</key>
	<string>textWithoutTemple</string>
	<key>listenerLayerFlags</key>
	<string>monsterIncludeOperation</string>
	<key>materialNumberInterval</key>
	<string>nativeFactoryOrigin</string>
	<key>nodeUntilDecorator</key>
	<string>responseAlongDecorator</string>
	<key>repositoryVersusWork</key>
	<string>independentSubscriptionShape</string>
	<key>subsequentStreamRight</key>
	<string>unaryInFramework</string>
	<key>temporaryIconSpeed</key>
	<string>reusableNormBrightness</string>
	<key>usedFactoryState</key>
	<string>materialBlocDistance</string>
</dict>
</plist>
