<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleMediaBorder</key>
	<string>chapterViaEnvironment</string>
	<key>directCoordinatorHue</key>
	<string>radioBridgeInset</string>
	<key>unactivatedErrorCenter</key>
	<string>labelFacadeInteraction</string>
</dict>
</plist>
