<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxOperationInteraction</key>
	<string>concreteResolverInteraction</string>
	<key>containerByStyle</key>
	<string>oldAwaitTheme</string>
	<key>criticalCoordinatorAppearance</key>
	<string>chartWithoutActivity</string>
	<key>getxAsNumber</key>
	<string>progressbarAlongStructure</string>
	<key>intensityFlyweightMode</key>
	<string>prevScaffoldBehavior</string>
	<key>kernelAroundCycle</key>
	<string>positionOutsideActivity</string>
	<key>mobileGesturedetectorTension</key>
	<string>promiseCommandAcceleration</string>
</dict>
</plist>
