<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackCommandDistance</key>
	<string>asyncDuringState</string>
	<key>characterTempleVisible</key>
	<string>captionCommandInteraction</string>
	<key>immutableTextOrientation</key>
	<string>resolverTempleDuration</string>
	<key>matrixKindLocation</key>
	<string>materialForStage</string>
	<key>mutableShaderName</key>
	<string>immediateStoreHue</string>
	<key>navigationPatternTransparency</key>
	<string>coordinatorTemplePosition</string>
	<key>resolverTypePosition</key>
	<string>spriteLikeStyle</string>
	<key>routeViaVariable</key>
	<string>imperativeGridviewSkewx</string>
	<key>scrollAndPhase</key>
	<string>alignmentWithSingleton</string>
	<key>subscriptionFacadeHue</key>
	<string>materialTitleVelocity</string>
</dict>
</plist>
