<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedColumnSaturation</key>
	<string>dedicatedViewSpacing</string>
	<key>certificateOperationTheme</key>
	<string>entropyAwayVar</string>
	<key>grainTierContrast</key>
	<string>matrixObserverBehavior</string>
	<key>handlerStageHead</key>
	<string>cursorVariableTension</string>
	<key>lostBufferContrast</key>
	<string>descriptionFlyweightCenter</string>
	<key>pinchableGesturedetectorDuration</key>
	<string>taskKindMargin</string>
	<key>requiredBaseVisible</key>
	<string>advancedDimensionInset</string>
	<key>segmentProcessShape</key>
	<string>coordinatorStyleStatus</string>
	<key>shaderAmongAction</key>
	<string>timerFrameworkBottom</string>
	<key>tensorEquipmentKind</key>
	<string>layerInCycle</string>
</dict>
</plist>
