<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCommandPosition</key>
	<string>managerCommandCenter</string>
	<key>boxshadowAgainstProcess</key>
	<string>segueScopeStyle</string>
	<key>geometricReferenceIndex</key>
	<string>storagePlatformBound</string>
	<key>hardEntityPressure</key>
	<string>storeThroughMethod</string>
	<key>observerDecoratorInset</key>
	<string>checkboxChainSpacing</string>
	<key>plateContainFacade</key>
	<string>fragmentProxyTail</string>
	<key>statelessViewType</key>
	<string>animatedBehaviorShade</string>
	<key>subtleInkwellOpacity</key>
	<string>interactiveSpritePressure</string>
	<key>utilStateHead</key>
	<string>layerBeyondNumber</string>
</dict>
</plist>
