<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetCompositeState</key>
	<string>missedResourceCoord</string>
	<key>bufferUntilSingleton</key>
	<string>adaptiveAnimationFeedback</string>
	<key>declarativeMenuDirection</key>
	<string>brushDecoratorBound</string>
	<key>opaqueCompositionKind</key>
	<string>builderAroundTask</string>
	<key>segmentLevelShade</key>
	<string>subsequentPositionTheme</string>
	<key>sharedMarginFlags</key>
	<string>tabbarCommandTint</string>
	<key>sizeAlongLevel</key>
	<string>screenOutsideObserver</string>
	<key>sliderFacadeTag</key>
	<string>cursorPrototypeMomentum</string>
	<key>storyboardChainSpeed</key>
	<string>equipmentVarType</string>
	<key>uniformStoryboardOrigin</key>
	<string>constraintProcessVelocity</string>
</dict>
</plist>
