<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianControllerCount</key>
	<string>taskOrShape</string>
	<key>indicatorFormBound</key>
	<string>reactiveAxisDistance</string>
	<key>labelJobCount</key>
	<string>transitionTierOffset</string>
	<key>mediaObserverInset</key>
	<string>immediateResourceTension</string>
	<key>operationSystemRight</key>
	<string>queueNearFramework</string>
	<key>reactiveOffsetTheme</key>
	<string>missionChainVisibility</string>
	<key>responsiveSpriteAlignment</key>
	<string>accessibleMusicCount</string>
	<key>topicVersusParam</key>
	<string>lossWithoutWork</string>
</dict>
</plist>
