<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityWithStage</key>
	<string>storageAsPrototype</string>
	<key>bufferAmongEnvironment</key>
	<string>relationalMaterialVisible</string>
	<key>nativeTabbarAlignment</key>
	<string>actionDuringKind</string>
	<key>tabviewAroundTask</key>
	<string>futureWithoutProxy</string>
	<key>usageFacadeAlignment</key>
	<string>subtleConstraintHead</string>
</dict>
</plist>
