<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonModelTransparency</key>
	<string>activityObserverState</string>
	<key>finalPreviewPadding</key>
	<string>crudeHashOrigin</string>
	<key>sliderUntilPhase</key>
	<string>storePhaseInterval</string>
	<key>sortedToolForce</key>
	<string>substantialIndicatorInteraction</string>
	<key>uniqueDelegateSaturation</key>
	<string>visibleRowBrightness</string>
</dict>
</plist>
