<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetAroundBuffer</key>
	<string>labelAndCommand</string>
	<key>crudeSegueType</key>
	<string>compositionalRichtextLeft</string>
	<key>providerValueCount</key>
	<string>eventCycleLeft</string>
	<key>reducerAroundTask</key>
	<string>fragmentPhaseVisible</string>
	<key>subtleContractionFlags</key>
	<string>materialInterpreterFrequency</string>
</dict>
</plist>
