<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureFrameworkResponse</key>
	<string>adaptiveArithmeticBehavior</string>
	<key>persistentMultiplicationValidation</key>
	<string>iterativeSignHead</string>
	<key>progressbarByValue</key>
	<string>animationMediatorFlags</string>
	<key>riverpodNumberCoord</key>
	<string>disabledResolverDensity</string>
	<key>synchronousLocalizationBehavior</key>
	<string>titleTempleIndex</string>
</dict>
</plist>
