<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorPrototypeSize</key>
	<string>textSingletonOrientation</string>
	<key>bitrateMementoBrightness</key>
	<string>seamlessActionForce</string>
	<key>cardSingletonOrigin</key>
	<string>configurationValueCoord</string>
	<key>chapterWithoutMode</key>
	<string>displayableBufferFlags</string>
	<key>curveUntilComposite</key>
	<string>firstAnimationTheme</string>
	<key>finalQueryTheme</key>
	<string>spotAlongProxy</string>
	<key>histogramPrototypeType</key>
	<string>apertureAlongKind</string>
	<key>newestWidgetAcceleration</key>
	<string>navigationBeyondFacade</string>
	<key>switchForValue</key>
	<string>interpolationContainTier</string>
	<key>variantThanSystem</key>
	<string>sophisticatedGridPosition</string>
</dict>
</plist>
