<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackValueRate</key>
	<string>publicMenuAppearance</string>
	<key>euclideanPriorityStyle</key>
	<string>hyperbolicDrawerHead</string>
	<key>operationAboutAction</key>
	<string>singletonAmongComposite</string>
	<key>particleIncludeStage</key>
	<string>canvasLikeMode</string>
	<key>repositoryVersusBridge</key>
	<string>priorNavigatorVisibility</string>
	<key>singletonByType</key>
	<string>delicateContractionSpeed</string>
	<key>swiftNearFunction</key>
	<string>specifyLossState</string>
</dict>
</plist>
