<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderNearValue</key>
	<string>ignoredGraphRight</string>
	<key>columnInCycle</key>
	<string>durationVarBottom</string>
	<key>cubitFromFlyweight</key>
	<string>positionedInsideOperation</string>
	<key>gesturedetectorScopeIndex</key>
	<string>priorAccessoryBorder</string>
	<key>granularRequestVisible</key>
	<string>particlePlatformPadding</string>
	<key>semanticCompleterInset</key>
	<string>projectPrototypeRotation</string>
	<key>textfieldFromComposite</key>
	<string>mobileVersusSystem</string>
</dict>
</plist>
