<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialFlexDirection</key>
	<string>nextToolRotation</string>
	<key>multiplicationExceptParam</key>
	<string>curveVersusParameter</string>
	<key>sliderEnvironmentLocation</key>
	<string>graphChainTail</string>
	<key>stepInType</key>
	<string>gateStrategyRotation</string>
	<key>tickerDecoratorDistance</key>
	<string>collectionFunctionLeft</string>
	<key>transformerIncludeOperation</key>
	<string>featureParameterPressure</string>
</dict>
</plist>
