<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSlashState</key>
	<string>curveVarEdge</string>
	<key>constraintSingletonShape</key>
	<string>tweenPerFramework</string>
	<key>missedExceptionDistance</key>
	<string>playbackWithJob</string>
	<key>pinchableMethodShape</key>
	<string>interactorNumberFlags</string>
	<key>resolverPhaseAppearance</key>
	<string>subscriptionDecoratorAppearance</string>
	<key>semanticsDespiteBridge</key>
	<string>persistentFactoryInset</string>
	<key>streamBufferShade</key>
	<string>intermediateTechniqueAcceleration</string>
	<key>touchAsWork</key>
	<string>menuParameterTension</string>
</dict>
</plist>
