<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveContainerValidation</key>
	<string>rectVersusBridge</string>
	<key>arithmeticGetxBottom</key>
	<string>groupIncludeType</string>
	<key>crudeCycleBorder</key>
	<string>tensorTweenContrast</string>
	<key>dynamicCallbackCoord</key>
	<string>statelessGiftRate</string>
	<key>geometricAssetTint</key>
	<string>controllerUntilType</string>
	<key>handlerAdapterCount</key>
	<string>touchAsVariable</string>
	<key>reductionFormEdge</key>
	<string>durationPatternRotation</string>
	<key>seamlessMasterFeedback</key>
	<string>paddingAndState</string>
</dict>
</plist>
