<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncQueryDepth</key>
	<string>scrollableIntegerAcceleration</string>
	<key>commandDespiteCommand</key>
	<string>spineForParam</string>
	<key>independentGroupSaturation</key>
	<string>expandedBridgeHue</string>
	<key>intensityAsStrategy</key>
	<string>criticalSingletonInteraction</string>
	<key>managerAndLayer</key>
	<string>metadataBesideType</string>
	<key>mediumWorkflowSkewy</key>
	<string>animatedReducerDensity</string>
</dict>
</plist>
