<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerMediatorBottom</key>
	<string>hierarchicalBuilderTheme</string>
	<key>monsterMediatorEdge</key>
	<string>handlerActivityMargin</string>
	<key>mutableCaptionTop</key>
	<string>imageParameterAppearance</string>
	<key>scaffoldPhaseDuration</key>
	<string>prismaticMapDepth</string>
</dict>
</plist>
