<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAdapterSaturation</key>
	<string>logThanCommand</string>
	<key>boxshadowWithoutCommand</key>
	<string>transitionContainSystem</string>
	<key>captionVersusStyle</key>
	<string>completerAndMediator</string>
	<key>declarativeGroupName</key>
	<string>denseSceneMode</string>
	<key>eventAwayContext</key>
	<string>controllerByInterpreter</string>
	<key>seamlessStoreTransparency</key>
	<string>mobileLayoutBehavior</string>
	<key>viewAlongStyle</key>
	<string>petTypeFrequency</string>
</dict>
</plist>
