<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateNumberBehavior</key>
	<string>uniformConstraintScale</string>
	<key>errorTempleDensity</key>
	<string>directWidgetStyle</string>
	<key>exponentNearStructure</key>
	<string>nodeCycleBound</string>
	<key>permanentProgressbarRate</key>
	<string>capacitiesParamTheme</string>
</dict>
</plist>
