<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellPrototypeOffset</key>
	<string>paddingBeyondBridge</string>
	<key>expandedTypeSpeed</key>
	<string>protocolLayerPosition</string>
	<key>materialLikeCommand</key>
	<string>nodeJobVisibility</string>
	<key>normPatternBottom</key>
	<string>animationAsJob</string>
	<key>optimizerContainTask</key>
	<string>agileCubeFeedback</string>
	<key>resultTypeBrightness</key>
	<string>completionContainBuffer</string>
</dict>
</plist>
