<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerSceneType</key>
	<string>durationStyleAppearance</string>
	<key>finalAllocatorBound</key>
	<string>vectorLevelTail</string>
	<key>futureEnvironmentName</key>
	<string>descriptorAroundProxy</string>
	<key>layerParamTransparency</key>
	<string>scrollOrInterpreter</string>
	<key>layoutLayerBottom</key>
	<string>staticIntegerMargin</string>
	<key>metadataCommandColor</key>
	<string>pageviewForParam</string>
	<key>parallelManagerForce</key>
	<string>intensityInsideParam</string>
	<key>tableScopeRotation</key>
	<string>blocBeyondFacade</string>
</dict>
</plist>
