<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowStyleBottom</key>
	<string>boxKindMode</string>
	<key>bufferEnvironmentTransparency</key>
	<string>ephemeralFragmentLeft</string>
	<key>finalUnaryAlignment</key>
	<string>matrixLikeOperation</string>
	<key>interactiveCompleterInset</key>
	<string>popupOutsideContext</string>
	<key>memberDespiteEnvironment</key>
	<string>elasticTickerShape</string>
	<key>parallelCharacterOffset</key>
	<string>drawerObserverTension</string>
	<key>sizedboxKindCenter</key>
	<string>convolutionPlatformDensity</string>
</dict>
</plist>
