<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferDespiteStage</key>
	<string>canvasWorkEdge</string>
	<key>flexibleInterfaceAppearance</key>
	<string>associatedSineBehavior</string>
	<key>projectAndParam</key>
	<string>resultAwayShape</string>
	<key>signaturePrototypePosition</key>
	<string>painterBesideParameter</string>
</dict>
</plist>
