<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineFlyweightOpacity</key>
	<string>storageVarSpacing</string>
	<key>descriptorJobCount</key>
	<string>disabledPreviewPosition</string>
	<key>hyperbolicSpriteCount</key>
	<string>curveNearPlatform</string>
	<key>interactorPrototypeContrast</key>
	<string>workflowTierSize</string>
	<key>previewViaLayer</key>
	<string>bulletOutsideKind</string>
</dict>
</plist>
