<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocBridgeState</key>
	<string>resizableQueueHead</string>
	<key>descriptionNumberDelay</key>
	<string>normThroughStructure</string>
	<key>multiResourceVisible</key>
	<string>layoutEnvironmentBorder</string>
	<key>requiredBuilderTop</key>
	<string>channelFlyweightPressure</string>
	<key>widgetShapeStyle</key>
	<string>storageContainStyle</string>
</dict>
</plist>
