<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorInsideStructure</key>
	<string>semanticProgressbarDirection</string>
	<key>providerActionCoord</key>
	<string>responseActivityValidation</string>
	<key>statefulPositionedTail</key>
	<string>hardUsecaseState</string>
	<key>vectorBesideAction</key>
	<string>stepPrototypeEdge</string>
</dict>
</plist>
