<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>serviceAgainstParam</key>
	<string>optimizerLikePhase</string>
	<key>substantialTextVisible</key>
	<string>resourcePlatformBorder</string>
	<key>swiftAboutBuffer</key>
	<string>listenerPrototypeSize</string>
	<key>webConsumerEdge</key>
	<string>directTimerBrightness</string>
</dict>
</plist>
