<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inheritedStampTheme</key>
	<string>widgetMediatorSpacing</string>
	<key>providerAlongStructure</key>
	<string>advancedDependencyDensity</string>
	<key>resourceActivityResponse</key>
	<string>uniqueAspectratioLeft</string>
	<key>resourceWithoutSystem</key>
	<string>multiplicationInterpreterRight</string>
	<key>retainedSizedboxTail</key>
	<string>boxshadowInJob</string>
	<key>scrollNearContext</key>
	<string>flexibleStreamState</string>
	<key>spriteLevelTension</key>
	<string>standaloneAllocatorKind</string>
	<key>storageAtCycle</key>
	<string>mediaqueryFrameworkPosition</string>
</dict>
</plist>
