<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsOperationSkewx</key>
	<string>adaptiveOptionForce</string>
	<key>dedicatedMemberValidation</key>
	<string>draggableResponseOpacity</string>
	<key>kernelAtContext</key>
	<string>uniqueGridInterval</string>
	<key>particleBufferLeft</key>
	<string>screenStyleValidation</string>
	<key>referenceOutsideScope</key>
	<string>coordinatorPlatformBottom</string>
	<key>spriteCycleInterval</key>
	<string>imagePhaseStyle</string>
	<key>statefulSliderMode</key>
	<string>relationalMemberTag</string>
	<key>sustainableNavigationRotation</key>
	<string>prismaticBrushContrast</string>
	<key>usedReductionSpacing</key>
	<string>threadBesideDecorator</string>
</dict>
</plist>
