<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentDecorationInterval</key>
	<string>rectThroughFunction</string>
	<key>modelTierSaturation</key>
	<string>gridEnvironmentLeft</string>
	<key>positionValueTheme</key>
	<string>missionWorkShade</string>
	<key>servicePlatformFlags</key>
	<string>respectiveIntegerBehavior</string>
	<key>tensorMarginCenter</key>
	<string>requestSinceType</string>
</dict>
</plist>
