<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertBeyondState</key>
	<string>rowAdapterTension</string>
	<key>commandBufferDepth</key>
	<string>channelMediatorIndex</string>
	<key>elasticIconDelay</key>
	<string>subscriptionStateStyle</string>
	<key>expandedFormBorder</key>
	<string>arithmeticInterpreterContrast</string>
	<key>gramActivityInteraction</key>
	<string>radioContextRotation</string>
	<key>presenterParamBehavior</key>
	<string>signatureVariableVisible</string>
	<key>sensorByVariable</key>
	<string>convolutionThroughLevel</string>
	<key>substantialAlertCenter</key>
	<string>memberDuringType</string>
</dict>
</plist>
