<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedSinkRotation</key>
	<string>animatedChartTension</string>
	<key>customizedLocalizationName</key>
	<string>taskStageBehavior</string>
	<key>eventAwayFlyweight</key>
	<string>particleInterpreterSize</string>
	<key>materialPhaseState</key>
	<string>aspectratioAlongFacade</string>
	<key>musicInsideNumber</key>
	<string>grayscaleCompositeBorder</string>
	<key>playbackParamAppearance</key>
	<string>actionFunctionInteraction</string>
	<key>smallTransitionBound</key>
	<string>scrollVariableStatus</string>
	<key>storeVisitorDuration</key>
	<string>stateCycleRotation</string>
</dict>
</plist>
