<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderThroughInterpreter</key>
	<string>interactiveDependencySkewy</string>
	<key>graphicAndEnvironment</key>
	<string>keyCharacterRate</string>
	<key>protectedResponseRotation</key>
	<string>repositoryWorkRotation</string>
	<key>rapidGrainVisibility</key>
	<string>arithmeticObserverHead</string>
	<key>skinFlyweightPosition</key>
	<string>blocMediatorTension</string>
</dict>
</plist>
