<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDelegateTag</key>
	<string>repositorySingletonColor</string>
	<key>advancedWorkflowBottom</key>
	<string>synchronousRouterOffset</string>
	<key>constRichtextFeedback</key>
	<string>cupertinoThemeStatus</string>
	<key>labelFlyweightHue</key>
	<string>handlerPerFunction</string>
	<key>publicDurationMargin</key>
	<string>repositoryStageForce</string>
</dict>
</plist>
