<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAroundParameter</key>
	<string>configurationPerStrategy</string>
	<key>cubitFunctionStyle</key>
	<string>gridFrameworkPadding</string>
	<key>cursorFunctionMode</key>
	<string>resourceDespiteComposite</string>
	<key>gridFlyweightRotation</key>
	<string>constraintAgainstBuffer</string>
	<key>interfaceProxyKind</key>
	<string>similarAlertSaturation</string>
	<key>layoutFunctionKind</key>
	<string>entityOutsideFlyweight</string>
	<key>marginParamTag</key>
	<string>labelFromFunction</string>
	<key>parallelSkirtAlignment</key>
	<string>themeDecoratorTint</string>
	<key>progressbarAtProcess</key>
	<string>accordionTabviewMomentum</string>
	<key>requestAroundTier</key>
	<string>clipperEnvironmentSpacing</string>
</dict>
</plist>
