<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionVisitorFrequency</key>
	<string>nibThroughMode</string>
	<key>activeDimensionEdge</key>
	<string>dependencyAndProcess</string>
	<key>channelsIncludePrototype</key>
	<string>channelUntilComposite</string>
	<key>lossFlyweightTag</key>
	<string>mediumTopicInteraction</string>
	<key>navigatorContainParameter</key>
	<string>spotKindRate</string>
	<key>paddingViaSystem</key>
	<string>lostSinkOpacity</string>
	<key>persistentGraphTransparency</key>
	<string>tweenAroundMethod</string>
	<key>resourceSystemSize</key>
	<string>observerByContext</string>
	<key>subsequentEventTag</key>
	<string>managerThroughType</string>
	<key>sustainableAlertCenter</key>
	<string>bufferOrScope</string>
</dict>
</plist>
