<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandAdapterResponse</key>
	<string>crucialPointBorder</string>
	<key>listenerBufferDepth</key>
	<string>descriptionEnvironmentInterval</string>
	<key>protectedGrainType</key>
	<string>interfaceBeyondParam</string>
	<key>statelessVersusObserver</key>
	<string>radiusWithChain</string>
	<key>streamDespiteObserver</key>
	<string>curveStyleVisibility</string>
</dict>
</plist>
