<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalZoneDensity</key>
	<string>iconPerOperation</string>
	<key>configurationMementoInset</key>
	<string>arithmeticPointBound</string>
	<key>constraintAlongLayer</key>
	<string>fixedAnchorAcceleration</string>
	<key>mediaDuringLayer</key>
	<string>notifierLikeState</string>
	<key>notifierAndContext</key>
	<string>sceneShapeStyle</string>
	<key>observerVersusFramework</key>
	<string>blocWithoutProcess</string>
	<key>sensorAboutParameter</key>
	<string>groupDespiteMemento</string>
	<key>symmetricBulletTint</key>
	<string>signatureLikeValue</string>
	<key>viewSinceStrategy</key>
	<string>buttonIncludeState</string>
</dict>
</plist>
