<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorCycleHead</key>
	<string>elasticPaddingTheme</string>
	<key>boxWithStage</key>
	<string>layoutUntilEnvironment</string>
	<key>columnStyleFrequency</key>
	<string>signatureMediatorStyle</string>
	<key>currentNotifierDirection</key>
	<string>disparateApertureTail</string>
	<key>euclideanChannelsShape</key>
	<string>smallAsyncMode</string>
	<key>exceptionProxyPosition</key>
	<string>sliderOfMode</string>
	<key>originalMetadataSpeed</key>
	<string>bitrateJobDistance</string>
	<key>previewExceptAction</key>
	<string>queryWorkRight</string>
	<key>tabviewCompositeInset</key>
	<string>declarativeTimerEdge</string>
</dict>
</plist>
