<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionIncludePrototype</key>
	<string>builderModeMargin</string>
	<key>columnSinceState</key>
	<string>secondMovementOpacity</string>
	<key>commandSinceParam</key>
	<string>builderDespiteVisitor</string>
	<key>lostSkinVelocity</key>
	<string>tensorTextureMargin</string>
	<key>navigatorChainColor</key>
	<string>pointBridgeDepth</string>
	<key>reactiveRichtextBound</key>
	<string>imperativeDelegateSkewy</string>
	<key>storeWithoutStrategy</key>
	<string>smartMobileMomentum</string>
</dict>
</plist>
