<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellChainDensity</key>
	<string>cardOfShape</string>
	<key>declarativeEffectPosition</key>
	<string>diversifiedDependencyEdge</string>
	<key>gemCommandOffset</key>
	<string>opaqueUtilTop</string>
	<key>interactorWithoutFlyweight</key>
	<string>uniformRoutePressure</string>
	<key>observerInBridge</key>
	<string>textFrameworkType</string>
	<key>resultAmongObserver</key>
	<string>injectionVisitorForce</string>
</dict>
</plist>
