<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardAlignmentSpacing</key>
	<string>dropdownbuttonAtShape</string>
	<key>dimensionJobDuration</key>
	<string>materialMethodInterval</string>
</dict>
</plist>
