<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>retainedFeatureVisible</key>
	<string>euclideanNibFeedback</string>
	<key>sophisticatedTickerIndex</key>
	<string>disabledCommandAppearance</string>
	<key>subpixelDuringNumber</key>
	<string>grainForActivity</string>
</dict>
</plist>
