<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticNumberDirection</key>
	<string>groupNearLevel</string>
	<key>firstGramBound</key>
	<string>routeWithLayer</string>
	<key>missedPaddingTop</key>
	<string>interactorLevelDistance</string>
	<key>previewPhaseDuration</key>
	<string>controllerInsideVariable</string>
	<key>sophisticatedBufferSpeed</key>
	<string>menuKindCoord</string>
	<key>stepBufferSkewy</key>
	<string>effectForKind</string>
</dict>
</plist>
