<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorBridgeBottom</key>
	<string>groupAndEnvironment</string>
	<key>cubitBesideChain</key>
	<string>pointExceptFunction</string>
	<key>effectForAction</key>
	<string>customNavigatorBound</string>
	<key>futureThanState</key>
	<string>logTempleVisibility</string>
	<key>geometricQueueTension</key>
	<string>durationContainForm</string>
	<key>gramAboutLevel</key>
	<string>variantInLevel</string>
	<key>lastImageEdge</key>
	<string>bitrateFormSpacing</string>
	<key>memberByValue</key>
	<string>cacheBridgeTension</string>
	<key>progressbarCommandDelay</key>
	<string>dedicatedListenerBrightness</string>
	<key>spotFunctionAlignment</key>
	<string>toolDecoratorOffset</string>
</dict>
</plist>
